body{
	background-color: #fff !important;
}

.headerTop{
			height: 100px;
			background-color: #293171;
		}
		.headerBelow{
			height: 6px;
			background-color: #ED1F24;
		}
		.caliberContent{
			padding: 100px;
		}
		.textStyle{
    		font-size: 20px;
    		color: #000;
		}
		.btnShade{
		background-image: linear-gradient(to top,#1D1E4E 50%, #29348D 50%);
    	border: none;
    	}

.footer{
	position: absolute;
    right: 0;
    left: 0;
    margin-left: 0px;
    padding-left: 10px;
    line-height: 50px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
@media (min-width: 768px){
.footer {
    margin-left: 0px;
    bottom: 0;
}
}