
.spacer{
    margin-bottom: 500px;
}

.theme1{
    border: 0; 
    /* background-color: rgba(104, 198, 180,1);  */
    background-color: #fff; 
    color: rgb(95, 146, 167);
    padding: 30px 50px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    
}
.theme1:hover{
    color: rgb(95, 146, 167);
    text-decoration: none;
    
}

.theme2{
    border: 0; 
    /* background-color: rgba(222, 196, 52,1); */
    background-color: #fff; 
    color: rgb(95, 146, 167);
    padding: 30px 50px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
}

.theme2:hover{
    color: rgb(95, 146, 167);
    text-decoration: none;
    
}

.theme3{
    border: 0; 
    /* background-color: rgba(212, 44, 49,1); */ 
    background-color: #fff; 
    color: rgb(95, 146, 167);
    padding: 30px 50px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
}

.theme3:hover{
    color: rgb(95, 146, 167);
    text-decoration: none;
    
}
.left-arrow{
    position: absolute;
    top: 45%;
    left: 2%;
  }
  
  
  .right-arrow{
    position: absolute;
    top: 45%;
    right: 2%;
  }
  

  .item{
      height: 100%;
      border: 3px solid red;
  }