.cad .ui-aside-compact .ui-content {
    margin-left: 0px;
}

/*Content author table starts*/
#questionBankCA thead tr th:not(:last-child){
    padding: 10px 5px;
    border-right: 1px solid #d9d9d9;
}

#questionBankCA tbody tr{
    background-color: #fff;
    text-align: center;
}
#questionBankCA tbody tr td{
    padding: 10px 5px;
    border-right: 1px solid #d9d9d9;
    font-size: 13px;
}
#questionBankCA tr td:last-child a:not(:last-child){
    padding-right: 15px;
}
#questionBankCA tr td:last-child a img{
    width: 13px;
    color: #777;
} 
table #tool {
	display: none;
	position: absolute;
	width: 100px;
}

table #tool thead tr td {
	border: 1px solid black;
	color: black
}

table #tool thead {
	background-color: #293171;
}

table #tool td {
	height: 50px;
	width: 50px;
}




.desc{
height:30px;
/* width:100%; */
}


.gallery {
  display: inline-block;
  text-align:center;
  height: 280px;
}

.aud {
  display: inline-block;
  text-align:center;
  height: 200px !important;
}
#mediaModalAWSBucket{
	z-index: 11111;
}
#loadingImageModal{
	z-index: 111111 !important;
}
#noFileToUploadModal{
	z-index: 11111 !important;
}
#notValidFormatModal{
	z-index: 111111 !important;
}
#filesGreaterThan15MBModal{
	z-index: 1111111 !important;
}
#createFolderModal{
	z-index : 111111;
}

#emptyFolderNameErrorModal{
	z-index: 1111111 !important;
}


/* Modal Content (Image) */
/* .modal-content {
  margin: auto;
  display: block;
  width: 90%;
  height: 90%;
  max-width: 700px;
}*/

.imageContainerDiv{
height: 105px;
width: 115px;
margin: 0 auto;
}
.audioContainer{
/* height:180px;
width:100px; */
height:auto;
width:auto;
}

.videoContainer{
height:auto;
width:auto;

}

/* button style*/ 
.fil {
            border-radius: 5px;
            padding: 5px 15px;
          
            color:black;
            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
            border: solid 2px transparent;
            background-image: linear-gradient(to bottom,#1D1E4E 50%,#29348D 50%);
            background-origin: border-box;
            /* background-clip: content-box, border-box; */
            box-shadow: 2px 1000px 1px #fff inset;
          }
          .fil1 {
            border-radius: 5px;
            padding: 5px 15px;
          
            color: white;
            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
            border: solid 2px transparent;
            background-image:linear-gradient(to bottom,#1D1E4E 50%,#29348D 50%);
            background-origin: border-box;
           /*  background-clip: content-box, border-box; */
           	 box-shadow: none;
          }

          
          .fil1:hover {
          
            color: white;
          }
          /*button style*/
          
.mutliSelect{
	z-index:1px;
}

/*Content author table ends*/