
#previewCreateQuestionModal .header2, #previewCreateDropDownModal .header2, #previewCreatePickManyModal .header2,
#previewCreatePickOneModal .header2, #previewCreateHotSpotModal .header2, #previewCreateDropBlankModal .header2{
    /* position: fixed; */
    color: white;
    width: 100%;
    /* height: 50px; */
    z-index: 100;
    font-size: 20px;
    margin-left: 0px;
   
    font-size: 14px;
   
}
#previewCreateQuestionModal .previewDivQuestion, #previewCreateDropDownModal .previewDivQuestion, #previewCreatePickManyModal .previewDivQuestion,
#previewCreatePickOneModal .previewDivQuestion, #previewCreateHotSpotModal .previewDivQuestion, #previewCreateDropBlankModal .previewDivQuestion{
min-height: 30px;
}
#previewCreateQuestionModal .header2 div:first-child, #previewCreateDropDownModal .header2 div:first-child, #previewCreatePickManyModal .header2 div:first-child,
#previewCreatePickOneModal .header2 div:first-child, #previewCreateHotSpotModal .header2 div:first-child, #previewCreateDropBlankModal .header2 div:first-child{
    background-color: #29348D;
    padding: 5px 0px 5px 40px;
   
}
#previewCreateQuestionModal .header2 div:last-child, #previewCreateDropDownModal .header2 div:last-child, #previewCreatePickManyModal .header2 div:last-child,
#previewCreatePickOneModal .header2 div:last-child, #previewCreateHotSpotModal .header2 div:last-child, #previewCreateDropBlankModal .header2 div:last-child{
    background-color: #1D1E4E;
   
    text-align: right;
    padding: 5px 40px 5px 0px;
}
#previewCreateQuestionModal .modal-body, #previewCreateDropDownModal .modal-body, #previewCreatePickManyModal .modal-body,
#previewCreatePickOneModal .modal-body, #previewCreateHotSpotModal .modal-body, #previewCreateDropBlankModal .modal-body{
padding: 0;
}
#previewCreateQuestionModal .questionData, #previewCreateDropDownModal .questionData, #previewCreatePickManyModal .questionData,
#previewCreatePickOneModal .questionData, #previewCreateHotSpotModal .questionData, #previewCreateDropBlankModal .questionData{
    background-color: white;
    opacity: 0.7;
    height: auto;
    padding: 10px 40px;
    color: black;
}
#previewCreateQuestionModal #questionDataRow, #previewCreateDropDownModal #questionDataRow, #previewCreatePickManyModal #questionDataRow,
#previewCreatePickOneModal #questionDataRow, #previewCreateHotSpotModal #questionDataRow, #previewCreateDropBlankModal #questionDataRow{
margin: 0;
}
#previewCreateQuestionModal .divSubmitPreviewDragAndDrop, #previewCreateDropDownModal .divSubmitPreviewDragAndDrop, #previewCreatePickManyModal .divSubmitPreviewDragAndDrop,
#previewCreatePickOneModal .divSubmitPreviewDragAndDrop, #previewCreateHotSpotModal .divSubmitPreviewDragAndDrop, #previewCreateDropBlankModal .divSubmitPreviewDragAndDrop{
padding: 0px 25px 10px 0px;
}
#previewCreateQuestionModal .SubmitTestButton, #previewCreateDropDownModal .SubmitTestButton, #previewCreatePickManyModal .SubmitTestButton,
#previewCreatePickOneModal .SubmitTestButton, #previewCreateHotSpotModal .SubmitTestButton, #previewCreateDropBlankModal .SubmitTestButton{
    background-image: linear-gradient(to bottom,#1D1E4E 50%, #29348D 50%);
    width: 90px;
    border: none;   
    border-radius: 8px;
    height: 30px;
    text-align: center;
    padding: 3px;
    color: white!important;
}
.divSubmitPreviewForAll{
padding: 0px 25px 10px 0px;
}
.previewContainer{
height: 85vh;
overflow-y: auto;
overflow-x: hidden;
}

[id ^= "answerPreviewPickManyOptionDiv"] input[type=checkbox]{
    top: -4px;
    left: 14px;
}
[id ^= "answerPreviewPickOneOptionDiv"] input[type=radio]{   
    left: 14px;
}