
#createNewSchoolBody{
    background-color: #fff;
}

#createSchoolContainer{
    padding: 30px;
    /* width: 70%; */
    margin: 0 auto;
    border: 2px solid #dadada;
    border-radius: 7px;
}

#createSchoolForm{
    /* border: 1px solid red; */
}

#createSchoolForm .form-group{
    /* border: 1px solid red; */
    /* height: 40px; */
}
.createNewFormGroup{
    height: 40px;
}
.formEmblem{
    width: 10%;    
    margin: 0 auto;
}

.formEmblem img{
    width: 100%;
}

.formTitleContainer{
    position: relative;
}

.fieldGroupDiv{
    padding-top: 20px;
}
h2 {
    font-size: 16px;
    text-align: center;
}

h2.background {
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

h2.background:before {
    border-top: 1px solid #dfdfdf;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}

h2.background span { 
    /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
    background-color: /* rgba(234, 238, 243,1);  */ #fff;
    padding: 0 15px; 
}

/* ------label on input----- */
/*.newLabel2 {
    color:#777; 
    font-size:14px;
    font-weight:normal;
    position: relative;;
    pointer-events:none;
    left: 15px;
    top: -30px;
  
    transition:0.3s ease all;
    -moz-transition:0.3s ease all; 
    -webkit-transition:0.3s ease all;
   
  }*/
   
  /* active state */
  /*input:focus ~ .newLabel2,input:valid ~ .newLabel2		{
    top:-45px;
    background: #fff;
    font-size: 12px;
    color:#001CFF;
  }
  */
 /* .newLabel2 :focus{
    border-color:#B8B8B8;
  }*/
  /* active state */
  /*select:focus ~ .newLabel2,select:valid ~ .newLabel2 		{
  top:-45px;
  background: #fff;
  font-size: 12px;
  color:#001CFF;
  }*/
/* ---------------------- */

.submitAndTextDiv{
    padding: 30px 30px 0px 30px;
}

#containerCurriculum{
    border: 1px solid #dadada;
    border-radius: 5px;
    padding: 10px;
}

.submitAndTextDiv button{
    min-width: 75px;
}
/* -----------border gradient starts------------ */
.curriculum {
	background-image: linear-gradient(to bottom,#1D1E4E 50%,#29348D 50%);
    /* background-image: linear-gradient(to top,#0c59c1 50%,#141431 50%); */
	/*background-image: linear-gradient(to right, #C12835 0%, #121C7A 100%);*/
	border-radius: 6px;
    box-sizing: border-box;
	color: #333;	
    text-decoration: none;
	text-transform: uppercase;
	width: 90px;
    z-index: 2;
    padding: 1px!important;
    margin: 5px;
}

.curriculum:hover {
	color: #fff;
}

.curriculum span {
	align-items: center;
	background-color: #fff;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
    width: 100%;
    padding: 2px 0;
}

.curriculum:hover span {
	background: transparent;
}
/* -----------border gradient ends------------ */

.curriculumSelected span{
    background: transparent;
    color: #fff;
}

.callidoLevel{
    border-radius: 50%;

    box-sizing: border-box;
	color: #333;	
    text-decoration: none;
	text-transform: uppercase;
    width: 35px;
    height: 35px;
    z-index: 2;
    padding: 1px!important;
    border: 0;
    
}
.callidoLevel:hover {
    color: #fff;
    background-image: linear-gradient(to bottom,#1D1E4E 50%,#29348D 50%);
    /*background-image: linear-gradient(to right, #C12835 0%, #121C7A 100%);*/
	/* background-image: linear-gradient(to right,#0c59c1 50%,#141431 50%); */
    box-sizing: border-box;	
    text-decoration: none;
	text-transform: uppercase;
    width: 35px;
    height: 35px;
    z-index: 2;
    padding: 1px!important;
}
.callidoLevel span{
    width: 100%;
    height: 100%;
    align-items: center;
	background-color: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	transition: background .3s ease;
    padding: 2px 0;
    border: 0;

}
.callidoLevel:hover span {
	background: transparent;
}

.divNameCurriculumTwo{
    display: table;
    height: 60px;
}
.nameCurriculumTwo{
    display: table-cell;
    vertical-align: middle;  
}

.divCallidoCurriculum{
    display: table;
    height: 60px;
}

.divCallidoCurriculum div{
    display: table-cell;
    vertical-align: middle;    
}

.callidoLevelSelected{
    color: #fff;
    background-image: linear-gradient(to bottom,#1D1E4E 50%,#29348D 50%);
   /*  background-image: linear-gradient(to right,#0c59c1 50%,#141431 50%); */
    /*background-image: linear-gradient(to right, #C12835 0%, #121C7A 100%);	*/
    box-sizing: border-box;	
    text-decoration: none;
	text-transform: uppercase;
    width: 35px;
    height: 35px;
    z-index: 2;
    padding: 1px!important;
}
.callidoLevelSelected span{
    background: transparent;
    color: #fff;
}
/***********for header pagination css**********/
/* .pagination {
        margin-left: 31%;
        text-align: center;
        margin-bottom: 24px;
        border-color:#A12846;
        }
        .pagination ul {
            list-style: none;
            clear: both;
            display: flex;
            justify-content: center; }
        .pagination span, .pagination a {
            font-size: 1em;
            text-decoration: none;
            font-weight: 700;
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 38px;
            margin: 0 39px;
            text-align: center;
            color: #636A75;
            vertical-align: middle;
            white-space: nowrap;
            border-radius: 50%;
            border:1px solid #C12835;
            border-color: linear-gradient(to top,#AC2642, #0F4688);
            list-style: none;
            transition: all 0.1s ease-in-out;
            }
        .pagination a:hover {
            background-color:#ccc;
            cursor: text;
            background-image: linear-gradient(to right,#C12835 50%,#921A1D 50%);
            background-image: linear-gradient(to top,#C12835, #921A1D);
            border-color: transparent;
            color: #fff; }
        .pagination .current {
            background-image: linear-gradient(to right,#C12835 50%,#921A1D 50%);
            color: #fff;
            border-color:#A12846; }
        .pagination i {
            font-size: 0.9375rem; }

        .pagination-line{
           margin-top: 36%!important;
            width: 238%;
            margin-left: -7%!important;
        }
        .pagination-text{
            margin-left: 73%;
    color: #000;
        } */
/***********end with header pagination **********/
/* FOR DIVISION */
.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: px px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 26px;
    cursor: text;
}

.bootstrap-tagsinput .label-info {
    background-color: #a4a5a4 !important;
    display: inline-block;
    padding: 5px;
    margin: 3px 1px;
    font-size: 12px;
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}

/* ----------CCS------- */
#createTestForm .bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: px px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    width: 100%;
    line-height: 26px;
    cursor: text;
}
#createTestForm .bootstrap-tagsinput input{
	width: 100%;
}
#createTestForm .row{
	margin-bottom: 10px;
}
#createTestForm .bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
}
#createTestForm .bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}
#createTestForm .bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}


<!-- changes-->
.closeBtnChange{
	font-size:25px;
}
.modalPadding{
padding: 0px 15px;
}

.modalPaddingfoot{
padding-top: 0px;
}
.modalPaddingHead{
	padding-bottom: 0px;
}
.nextBtnTeam{
padding: 9px 12px!important;
}

.sg-tn{
	height: 35px;
    font-size: 13px;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    background-image: linear-gradient(to bottom,#4e1d1d 50%, #8d2929 50%);
    border: none;
}
.yesBtn{
	height: 35px;
    font-size: 13px;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
  background-image: linear-gradient(to bottom,#1D1E4E 50%,#29348D 50%);
    border: none;
}

.baselineMargin{
margin: 0px 30px;
}

button.TConfig {
    color: black;
    border: solid 2px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to bottom,#1D1E4E 50%,#29348D 50%);
    box-shadow: 2px 1000px 1px #fff inset;
    background-origin: border-box;
    background-clip: content-box, border-box;   
    border-radius: 5px;
    padding: 7px 5px;
    background-color: transparent;
   
	
}
button.TConfig:hover{
	box-shadow:none;
	color:white;
}

.preview1{
	width: 75px;
	margin: 0px 14px;
}
.TCMargin{
	margin-bottom: 26px!important;
}
.SGroup{
	text-align: center;
}
.SGroup img{
	width: 90px;
	
}
/* .editCallidoLevelSelected{
	pointer-events: none;
} */