/* body {
    background: darksalmon;
  } */
  
  .fill{
    /* background-image: url('https://source.unsplash.com/random/150x150'); */
    position: relative;
    height: 110px;
    width: 110px;
    top: 2px;
    left: 2px;
    cursor: pointer;
  }
  
  .hold {
    border: solid 5px #ccc;
  }
  
  .empty {
    display: inline-block;
    height: 120px;
    width: 120px;
    margin: 10px;
    border: solid 3px salmon;
    background: white;
  }
  
  .hovered {
    background: #f4f4f4;
    border-style: dashed;
  }

  #option1{
    background-image: url(../images/testing/1.png);
    background-size:  cover;
  }
  
  #option2{
    background-image: url(../images/testing/2.png);
    background-size:  cover;
  }

  #option3{
    background-image: url(../images/testing/3.png);
    background-size:  cover;
  }   
  
  #option4{
    background-image: url(../images/testing/4.png);
    background-size:  cover;
  }  