*{ 
margin:0px;
padding: 0px;

}
body{
background-image: url(logg.jpg);
background-attachment:fixed;
background-size: cover;
height: 60%;
width: 100%;
font-family: Arial, Helvetica, sans-serif;


}
h3{
font-size: 20px;
color: white;
}


* {
box-sizing: border-box;
}



input[type=text], input[type=password],input[type=date] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: #f1f1f1;
transition: width .35s ease-in-out;
}

input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
width: 250px;
}


hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}


.registerbtn {
background-color: #000000;
color: white;
padding: 16px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}

.registerbtn:hover {
opacity: 3;
background-color: #dadada;
}


a {
color: dodgerblue;
}


.signin {
background-color: #f1f1f1;
text-align: center;

}



.col-md-5{
box-shadow: -1px 1px 60px 10px black;
background: rgb(0,0,0,0.4);
}
.label{
margin-top: 10px;
color:white;
font-weight: 15px;

}
.form-control{
background: transparent;
border-radius: 0px;
border: 0px;
border-bottom: 1px solid white;

}
.container{
margin-top: 122px;
margin-left:392px;
}
ul p{
font-size: 28px;
color: black;

}
ul a:hover{
text-decoration: none;
color: black;
}
.label{
font-size: 19px;
color:white;
font-weight:normal;
}
.form-control{
background: transparent;
border: 0px;
border-radius:0px;
border-bottom:1px solid #f44c89;
margin:30px;
color: white;
}
input[type=checkbox]{
height: 15px;
width: 15px;

}
small{
font-size: 19px;
color: white;
}
.btn-info{
background: #f44c89;
border:2px solid #f44c89 ;
border-radius: :0px;
width:100px;
margin-top:20px;
font-size:20px
background:transparent;

}
