.sign-in-wrapper .sign-container{
	box-shadow: 0px 0px 7px #999;
	
}
.input-field{
	box-shadow: none;
	display:none;
}


.login-button{
	background-image: linear-gradient(to right, #c1303d, #121c7a);
    width: 100px;
    border: none;
}
.text-left{
	text-align:left;
}
.forget-pwd{
	float:right;
	color: #001cff;
    font-size: 14px;
}
.remember-me{
	font-size:15px;
}
.have-account{
	float:left;
}
.register{
	position:relative;
	margin:10px;
	color: #001cff;
    font-size: 14px;
    top: -2px;
}
.i-checks > i {
    width: 20px;
    height: 20px;
    line-height: 1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-left: -20px;
    margin-top: -2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    position: relative;
}
.i-checks input:checked + i {
    border-color: #121c7a;
}
.i-checks input:checked + i:before {
    left: 3px;
    top: 3px;
    width: 12px;
    height: 12px;
   /*  background-image: linear-gradient(to right, #c1303d, #121c7a); */
   background-image: linear-gradient(to right,#1D1E4E 50%,#29348D 50%);
}
.fa-eye:before {
    content: "\f06e";
   position: relative;
    bottom: 27px;
    left: 273px;
    color: #888;
}

.fa-eye-slash:before {
    content: "\f070";
    position: relative;
    bottom: 27px;
    left: 273px;
    color: #888;
}

.imagebg{
	background-image:url("../images/bgimage1.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
.login-content{
    position: relative;
    width: 100%;
    padding: 15px;
    outline: none;
    border: 2px solid gray;
    border-radius: 5px;
    height: 45px;
    font-size: 14px;
}

button.res {
    color: black;
    border: solid 2px transparent;
    background-image: linear-gradient(to bottom,#1D1E4E 50%,#29348D 50%);
    box-shadow: 2px 1000px 1px #fff inset;
    background-origin: border-box;
    /* background-clip: content-box, border-box;    */
    border-radius: 5px;
    padding: 7px 5px;
    background-color: transparent;
   height:38px;
	
}
button.res:hover{
	box-shadow:none;
	color:white;
}
.preview{
	width: 75px;
	margin: 0px 14px;
}
a.res {
    color: black;
    border: solid 2px transparent;
    background-image:linear-gradient(to bottom,#1D1E4E 50%,#29348D 50%);
    box-shadow: 2px 1000px 1px #fff inset;
    background-origin: border-box;
  /*   background-clip: content-box, border-box;    */
    border-radius: 5px;
    padding: 7px 5px;
    background-color: transparent;
    width: 75px;
    height:38px;
    text-align:center;
}
a.res:hover{
	box-shadow:none;
	color:white;
}

.updateBtn {
    color: white;!important
    border: solid 2px transparent;
    background-image: linear-gradient(to bottom,#1D1E4E 50%,#29348D 50%);
    box-shadow:none;
    background-origin: border-box;
    /* background-clip: content-box, border-box;   */ 
    border-radius: 5px;
    padding: 7px 5px;
    background-color: transparent;
    width:85px;
    height:38px;
    
}
.updateBtn:hover{
	color:white
}
.text-right{
	text-align:right;
}

/* input:focus ~ label,input:valid ~ label{
	border-color: blue;
    top: -46px;
    left: 17px;
    font-size: 12px;
    color: blue;
    background: white;
	
} */

.flotlbl
{
	position: relative; 
	bottom: 29px; 
	left: 15px;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
	pointer-events:none;
	border-color: blue;
    top: -46px;
    left: 17px;
    font-size: 12px;
    color: blue;
    background: white;
}

input:focus ~ .flotlbl,input:valid ~ .flotlbl{
	position: relative; 
	border-color: blue;
    top: -46px;
    left: 17px;
    font-size: 12px;
    color: blue;
    background: white;
	
}


a.questionImportTemplate {
    color: black;
    border: solid 2px transparent;
    background-image:linear-gradient(to bottom,#1D1E4E 50%,#29348D 50%);
    box-shadow: 2px 1000px 1px #fff inset;
    background-origin: border-box;
  /*   background-clip: content-box, border-box;    */
    border-radius: 5px;
    padding: 7px 5px;
    background-color: transparent;
    width: 170px;
    height:38px;
    text-align:center;
}

a.questionImportTemplate:hover{
	box-shadow:none;
	color:white;
}

