.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  
  /* width: 25%;
  height: 24%;
  
  width: 199px;
  height: 100%; */
  
  height: 120px;
  margin-bottom: 10px;
} 
/* .columnFile {
  float: left;
  
  width: 25%;
  height: 24%;
  
  width: 199px;
  height: 100%;
  
  height: 120px;
  margin-bottom: 10px;
} */

/* The Modal (background) */
/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
 */
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  height: 100%;
}

/* The Close Button */
#myImageZoomModal .close {
  color: white;
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 35px;
  font-weight: bold;
  z-index: 111;
}

#myImageZoomModal .close:hover,
#myImageZoomModal .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
#myImageZoomModal .modal-content .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
#myImageZoomModal .modal-content .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
#myImageZoomModal .modal-content .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  /* border: 1px solid rgba(204, 232, 255,1); */
}

#mediaModalAWSBucket{
	width: 100%;
  	height: 100%;
}

#myImageZoomModal{
	/* width: 70%; */
	width: 852px;
	height: 80%;
	margin: 60px auto 0px;
}

/* #myImageZoomModal .close{
	position: relative;
	z-index: 111;
	line-height: 0;
	right: 10px;
	
} */
.mySlides{
	height: 100%;
	
}
.mySlides img{
	height: 100%;
		
}
 .column img{
	height: 100%;	
} 
/* .columnFile img{
	height: 100%;	
} */
#caption{
	margin-bottom: 0px;
}

/* Belt divNext & previous buttons  */
.belt{
	position: absolute;
	left: 0px;		    
    transition-duration: 500ms;
    transform: translate3d(0px, 0px, 0px);
}
.prevBelt,
.nextBelt {
  cursor: pointer;
  position: absolute;
  top: 66%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.prevBelt {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.nextBelt {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevBelt:hover,
.nextBelt:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

 .belt .column{
	width: 170px;
	height: 100%;
	margin-bottom: 0px;
} 
/* .belt .columnFile{
	width: 170px;
	height: 100%;
	margin-bottom: 0px;
}
 */
.caption-container{
	/* margin: 5px 0px; */
}
.modal-backdrop.in {
     background-color: rgba(0,0,0,.6) !important;
}

.mySlidesContainer{
	height: 70%;
}

/* by snehal */
.imgcut{
	height: 20px;
}
.imgfolder{
	weight: 20px;
	height: 24px;

}
.angleArrow{
	font-size: 35px;
	color: #959494c4;
	width: 30px;
}
.fileSelect{
	border: 1px solid #dadada;
	border-radius: 5px;
	padding:6px;
	margin-top: -7px;
}
.btnUpLOad{
	margin-left:-10px;;
}

.inputFileAWSButton{
	
    font-size: 13px;
    margin-top: 6px;
}


/* ----------17-March-------- */
#backButton{
	width: 25px;
	height: 25px;
}
#backButton img{
	width: 13px;
	height: 21px;
}
#nextButton img{
	width: 13px;
	height: 20px;
}
/* ------------17-March--------- */

.headerAwsRow div{
	padding-top: 3px;
	padding-bottom: 3px;
}

.headerAwsRow button{
	width: 75px;
}

.imgcut{
	transition: transform .2s;
}
.imgcut:hover{
	transform: scale(1.4);
	
}

.headerFirstColIcon{
	height: 20px;
	transition: transform .2s;
}

.headerFirstColIcon:hover{
	transform: scale(1.3);	
}

.itemName{
	border: 0;
	background-color: transparent;
}

#imageGalleryGrid>div{
	padding: 7px 10px;
	height: 140px;
}

#imageGalleryGrid>div:hover{
	border: 1px solid rgba(90, 150, 255,1);
	background-color: rgba(90, 150, 255,.2);
}

#imageGalleryGrid{
	margin: 0px 0px 15px 15px;
}

.selectedAWSItem{
	border: 1px solid rgba(90, 150, 255,1);
	background-color: rgba(90, 150, 255,.4);
}

#imageGalleryGrid .column img{
	height: 70%;
} 

/* #imageGalleryGrid .columnFile img{
	height: 70%;
} */
#myImageZoomModal .close{
	opacity: .7;
	transition: transform .2s;
}

#myImageZoomModal .close:hover{
	opacity: 1;
	transform: scale(1.1);
}

#myImageZoomModal .close img{
	width: 27px;
}
.awsInfoIcon{
	height: 20px;
	margin-left: 10px;
}

#mediaModalAWSBucket .tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 350px;
    right: 100px; 
    text-align: left;
    padding-left: 20px;
}
#mediaModalAWSBucket .fade {
    -webkit-transition: opacity 0s linear;
    -o-transition: opacity 0s linear;
    transition: opacity 0s linear;
}