.school-container {
	font-family: "lato", sans-serif;
	width: 100%;
	height: 800px;
	background: #ffffff;
	padding: 40px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin: 0px 18%;
}

.table-th {
	/*height: 50px;*/
	/* font-weight: 200;
	padding: 10px 10px;
	border-right: 1px solid #d9d9d9;
	background: #293171;
	color: #fff */
	 background-color: #293171;
	 color: #fff;
	 font-size: 13px;"
}

/* table {
	border: 1px solid #bbb;
}

table td {
	border: 1px solid #bbb;
	padding: 10px 10px;
} */


.sg-btn {
	/***** new changes ****/
	height: 35px;
    font-size: 13px;
	/*****end new changes ****/
	flex: 1 1 auto; 
	float: right;
	padding: 0px 12px; 
	text-align: center;
	/*text-transform: uppercase;*/
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 5px;
	/* background-image: linear-gradient(to right, #AC2642 0%, #0F4688 51%); */
	background-image: -webkit-linear-gradient(bottom,#1D1E4E 50%,#29348D 50%);
	border: none;
	margin-right: 2%;
}

.sg-btn:hover {
	color: white;
	text-decoration: none;
}

.create-school-text {
	position: absolute;
	left: 30%;
	top: 8%;
	background: white;
	padding: 8px;
	font-weight: bolder;
	color: #000;
	font-size: 1.2em;
}

.newLabel2 {
	color: #777;
	font-size: 14px;
	font-weight: normal;
	position: relative;;
	pointer-events: none;
	left: 15px;
	top: -30px;
	transition: 0.3s ease all;
	-moz-transition: 0.3s ease all;
	-webkit-transition: 0.3s ease all;
}

/* active state */
input:focus ~ .newLabel2, input:valid ~ .newLabel2 {
	top: -49px;
	background: #fff;
	font-size: 12px;
	color: #001CFF;
	border-color: #001CFF;
}

.new-form-control:focus {
	border-color: #001CFF;
}

input:disabled ~ .newLabel2 {
	top: -49px;
	background: #fff;
	font-size: 12px;
	color: #001CFF;
	border-color: #001CFF;
}
/* active state */
select:focus ~ .newLabel2, select:valid ~ .newLabel2 {
	top: -49px;
	background: #fff;
	font-size: 12px;
	color: #001CFF;
	border-color: #001CFF;
}

select:disabled ~ .newLabel2 {
	top: -49px;
	background: #fff;
	font-size: 12px;
	color: #001CFF;
	border-color: #001CFF;
}

textarea:focus ~ .newLabel2, textarea:valid ~ .newLabel2 {
	top: -110px;
	background: #fff;
	font-size: 12px;
	color: #001CFF;
	border-color: #001CFF;
}

.input-container {
	display: flex;
	width: 100%;
	margin-bottom: 15px;
}

.top-pos {
	top: -93px;
}

.team-img {
	width: 10%;
	height: 50px;
	border: 1px solid black;
}

.create_text {
	font-size: 18px;
	position: relative;
	font-weight: 500;
	top: 6px;
	color: #000;
}

input[type=radio]{   
    margin-bottom: 2px;
    padding: 0;
    height: 22px;
    width: 22px;
    bottom: 2px; 
    position: relative;
    border: 1px solid;
    border-color:#A12846;
    top: -4px;
    background-color: white;
} 
input[type=radio]:before{
    background-color: #fff;
    border: 1px solid;
    border-color:#0F4688;
    box-shadow: inset 0 0 1px 3px #f5f5f5;
    content: "";
    display: inline-block;
    height: 22px;
    width: 22px;
    border-radius:11px;
}
input[type=radio]:checked:after{
    /*background-color:#aaa;*/
    background-image: linear-gradient(to left,#1D1E4E 50%,#29348D 50%);
    border: 1px solid;
    border-color:#0F4688;
    box-shadow: inset 0 0 1px 4px white;
    content: "";
    display: inline-block;
    height: 22px;
    left: 0px;
    position: absolute; 
    top: 0px;
    width: 22px;
    border-radius:11px;
}

input[type=checkbox] {
	background-color: black;
	border: 1px solid;
	border-color: #0F4688;
	box-shadow: inset 0 0 3px 5px #ccc;
	content: "";
	display: inline-block;
	height: 22px;
	position: relative;
	left: 1px;
	top: 5px;
	margin-right: 10px;
	width: 22px;
	border-radius: 2px;
}

input[type=checkbox]:before {
	background-color: white;
	border: 1px solid;
	border-color: #0F4688;
	box-shadow: inset 0 0 1px 3px #f5f5f5;
	content: "";
	display: inline-block;
	height: 22px;
	left: 10px;
	margin-right: 10px;
	top: 8px;
	width: 22px;
	border-radius: 2px;
}

input[type=checkbox]:checked:after {
	background-image:linear-gradient(to left,#1D1E4E 50%,#29348D 50%);
	border: 1px solid;
	border-color: #0F4688;
	box-shadow: inset 0 0 1px 4px white;
	content: "";
	display: inline-block;
	height: 22px;
	left: 0px;
	margin-right: 10px;
	position: absolute;
	top: 0px;
	width: 22px;
	border-radius: 2px;
}

.optionsLabel {
	font-weight: 400;
	color: #444;
}

.mleft {
	margin-left: 20%;
}

.radio_chlbox_div {
	/* left: 2%;
 	*/
 	left:14px;
 	width: 47%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border: 1px solid #ccc;
	border-radius: 4px;
	border: 1px solid #ccc;
	height: 40px;
}

.start_datepick {
	width: 143%;
	position: relative;
	left: -74%;
}

.end_datepick {
	width: 143%;
	position: relative;
	left: -38%;
}

.reminder-div {
	width: 97%;
	height: 60px;
}

.reminder-li-inline {
	padding-left: 10%;
	margin-top: -2%;
}

@media screen and (max-width: 320px) {
	.radio_chlbox_div {
		height: 86px;
		width: 87%;
		left: 7%;
		margin-bottom: 10px;
		br
		{
		display
		:
		block;
	}
}



/*.radio-inline{
    left: 20%;
    top: 10%;
  }*/
.start_datepick {
	margin-bottom: 10px;
	width: 100%;
}

.end_datepick {
	width: 100%;
	left: -8%;
	margin-bottom: 10px;
}

.reminder-div {
	height: auto;
}

}
.plus-button {
	position: relative;
	font-size: 20px;
	top: -9px;
}

.minus-button {
	position: relative;
	font-size: 30px;
	top: -23px;
	left: 1px;
}
.ml-38{
  margin-left: -38%;
}
.ver-mid{
  vertical-align: middle!important;
}
.list-type{
  list-style-type: none;
}
/*********new changes on 26-4************/
/*********for header*******/
 .role-li{
  position: relative;
  top: -15px;
  left: 5px;
 }
 .ml-5{
  margin-left: 5%;
 }
 .role-btn{
    /* margin-top: 3%; */
    padding:7px;
    float: none;
    margin: 9px 38px;
    /* margin-left: 18%;*/
 }
 .ml-27{
     margin-left: -27%;
 }
 .wid-8{
 	width:7%;
 }
.mt-8{
	margin-top:-8%;
}
.headeruser-text{
	font-weight: bolder;
    position: relative;
    top: -7px;
}
.headerspan-text{
	    margin-left: 9px;
    margin-top: 10px;
}
.team-datatable{
	position: relative;
    top: -30px;
}
.team-datatable td{
	padding: 6px!important;
}
.common-datatable td,.common-datatable th{
	padding-left: 6px!important;
}
.grace-period-div{
    float: right;
    left: 13px;
    top: -40px;
}
.rbac-user-chkbox{
    padding: 10px;
}

#gradeTableId tbody td:last-child input{
	width: 40px;
	 border: 1px solid #0F4688; 
}

[id ^= "orderId"]{
	pointer-events: none;
}
/*********updated on 2 may*************/
.formTitleContainer{
    position: relative;
}
 
 h2 {
    font-size: 16px;
    text-align: center;
}
 
h2.background {
    position: relative;
    z-index: 1;
    margin: 4px 0px;
    font-size: 16px;
    font-weight: 700;
}

h2.background:before {
    border-top: 1px solid #dfdfdf;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}

h2.background span { 
    /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
    background-color: /* rgba(234, 238, 243,1);  */ #fff;
    padding: 0 15px; 
}

.formEmblem{
    width: 10%;    
    margin: 0 auto;
}

.formEmblem img{
    width: 90%;
}
/*********admin module******/
.difficultyLevelContainer{
	width: 60%;
    margin-left: 25%;
}
.pl-0{
	padding-left:0px;
}
/*********caret for profile******/
.caret_position{
	position: relative;
    color: #fff!important;
    top: -13px;
    left: 13px;
}
/*********view school**********/
 
.p-none{
	padding:0px;
}
.callidoLevel3{
  	color: Darkgray;
    font-weight: 600;}
    
 .callidoSchool{
text-align: left;
    padding-left: 90px;}
 .callidoSchool1{
 text-align: left;
    padding-left: 25px;}
    .callidoSchool2{
    text-align: left;
    }
 .callidoSchoolContent{
 font-weight: 600;
    color: #000;}
    
.viewSchoolContainer{
	margin: 40px 20px;
    border: 1px solid #999;
    box-shadow: 1px 1px 20px #423d3d;
}
.flotlblstud {
    position: relative;
    bottom: 29px;
    left: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    pointer-events: none;
    border-color: blue;
    top: -53px;
    left: 17px;
    font-size: 12px;
    color: blue;
    background: white;
    padding: 4px;
    font-weight: 400;
}
/*********new change in table 7-5-19*****/
.tablePadding{
	 margin: 0px 5px;
}
.importExportDiv{
	/* z-index:11111;
	position: relative;
    top: 34px;
    left: 23%; */
    width:520px;
    margin-left: 2%;
    margin-bottom: 2%;
	border-radius: 7px;
    height: 40px;
    border: 1px solid #d9d9d9;
}
.impoExpoButton{
    margin-top: 5px;
    color:#000;
}
.ml-15{
	margin-left: 15px;
}
.impoExpoImage{
	vertical-align: top;
	width: 15px;
    margin-right: 6px;
}
.importButton{
	height: 28px;
 	margin-left: 14%;
    margin-top: 5px;
}
.exportButton{
	margin-top: 5px;
    height: 28px;
   /*  margin-left: 21%; */
    float:right;
}
.dataTables_wrapper{
	font-size: 12px;
}
/*****login page css *****/
.pl-0{
	padding-left:0px;
}
.fs-13{
	font-size: 13px;
}
.fgt-text{
	margin-top: 10px;
}
.mt-10{
	margin-top: 10px;
}
 .eye-img{
	position:relative;
	bottom: 0px; 
	left: -60px;
} 
.loginContainer{
	background-color: rgba(255, 255, 255, .9)!important;
    padding: 15px 35px!important;
    top: 35px;
}
@media screen and (max-width:320px){
	.fgt-text{
	margin-top: -27px;
	}
	 .eye-img{
	position:relative;
	bottom: 0px; 
	left: -100px;
	}  
}
 
@media screen and (max-width:800px){
	.fgt-text{
	margin-top: -27px;
	}
}
@media screen and (max-width:1024px){
	 
	/* .eye-img{
	position:relative;
	bottom: 0px; 
	left: -60px;
	}  */
	
}
.login-btn{
	float:none;
} 
.mt-25{
	margin-top:-25px;
}
.mt-8-0{
	margin:8px 0px;
}
.mr-0{
	margin-right:0!important;
}
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
} */
 input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
} 
.newActiveClass{
	color: #ffffff;
    background-color: rgba(11,32,53, 1);
}
/*Forgot Password*/
.bgImg{
	background-image: url(images/bgimage1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* row spacing for view in modal*/
.viewRowPadding{
	padding:5px 0px;
}
/* floating label background only for login and index page */
.floatingLableLogin{
	    background-image: linear-gradient(to top,#ffffff 50%,#e6eff2 50%)!important;
}
/******css for dashboard page for selected checkbox *********/
.skillDashboardText{
	font-weight:100!important;
}
.closeDashboardButton{
	font-size: 16px;
    font-weight: 600;
   	margin: 3px 0px 3px 6px;
}
.dashboardChkboxButton{
	padding: 2px 4px!important;
	margin: 5px;
}

.previousSchoolPageBtn{
	float: left!important;
    margin-left: 60px;
}


/* ----------PGCS------------ */

#editTestConfigModal .radio_chlbox_div{
	cursor: not-allowed;
	opacity: .7;
}
#editTestConfigModal #gradeId{
	cursor: not-allowed;
	opacity: .7;
}
#editTestConfigModal .trSelectQuestion{
	cursor: not-allowed;
	opacity: .7;
}
#editTestConfigModal [id ^= "selectQuestion"]{
	pointer-events: none;	
}

#editTestConfigModal [id ^= "orderId"]{
	pointer-events: none;	
}

/* ----------PGCE------------ */
/*****caret color css for content author dashboard*****/
.caretColor{
	position: relative;
    top: 9px;
	color:black!important;
}


input[name=academicYear]{
	top: 5px;
    margin: 0px 3px 0px 6px;
}


select#testReportSchoolGroupId, select#testReportSchoolId ,select#testReportTeamId, select#testReportTestId{
	min-height: 94px; 
}
select#testReportSchoolGroupId:focus ~ .newLabel2, select#testReportSchoolGroupId:valid ~ .newLabel2 ,
select#testReportSchoolId:focus ~ .newLabel2, select#testReportSchoolId:valid ~ .newLabel2 ,
select#testReportTeamId:focus ~ .newLabel2, select#testReportTeamId:valid ~ .newLabel2,
select#testReportTestId:focus ~ .newLabel2, select#testReportTestId:valid ~ .newLabel2{
     top: -106px!important;         
}

select#testStatusSchoolGroupId, select#testStatusSchoolId ,select#testStatusTeamId, select#testStatusTestId{
	min-height: 94px; 
}
select#testStatusSchoolGroupId:focus ~ .newLabel2, select#testStatusSchoolGroupId:valid ~ .newLabel2 ,
select#testStatusSchoolId:focus ~ .newLabel2, select#testStatusSchoolId:valid ~ .newLabel2 ,
select#testStatusTeamId:focus ~ .newLabel2, select#testStatusTeamId:valid ~ .newLabel2,
select#testStatusTestId:focus ~ .newLabel2, select#testStatusTestId:valid ~ .newLabel2{
     top: -106px!important;         
}

select#adaptiveQuestionItemWiseSubSkillId, select#adaptiveQuestionItemWiseSubSkillId,
select#adaptiveQuestionItemWiseQuestionId{
	min-height: 94px; 
}

select#adaptiveQuestionItemWiseSubSkillId:focus ~ .newLabel2, 
select#adaptiveQuestionItemWiseSubSkillId:valid ~ .newLabel2,
select#adaptiveQuestionItemWiseDifficultyLevelId:focus ~ .newLabel2, 
select#adaptiveQuestionItemWiseDifficultyLevelId:valid ~ .newLabel2,
select#adaptiveQuestionItemWiseQuestionId:focus ~ .newLabel2, 
select#adaptiveQuestionItemWiseQuestionId:valid ~ .newLabel2
{
     top: -105px!important;         
}

.newLabel3 {
	color: #777;
	font-size: 14px;
	font-weight: normal;
	position: relative;;
	pointer-events: none;
	left: 15px;
	top: -30px;
	transition: 0.3s ease all;
	-moz-transition: 0.3s ease all;
	-webkit-transition: 0.3s ease all;
}

/* active state */
input:focus ~ .newLabel3, input:valid ~ .newLabel3 {
	top: -50px;
	background: #fff;
	font-size: 12px;
	color: #001CFF;
	border-color: #001CFF;
	background-image: linear-gradient(to top,#ffffff 50%,#e6eff2 50%)!important; 
}

/*********new css for responsive 11-7*********/
.lft-3{
	left: 3%;
}
.mrgLft-10{
	margin-left: -10%;	
}
.mrgLft-24{
	margin-left: 24px;
}
.gracePeriodDivResp{
	height: 25px;
    width: 150px;
    margin-top: 5px;
}
@media (max-width: 768px){
	.lft-3{
		left: 0px;
	}
	 .forRespPos{
	 	margin-left: -2rem;
	 }
	 .forRespPosLeft{
	 	margin-left: 1rem;
	 }
	 .mrgLft-24{
	 	margin-left: 10px;
	 }
	 .start_datepick{
	     width: 0px; 
	     position: relative;
    	 left: 0px;
	 }
	 .end_datepick {
     	  width: 0px; 
     	  position: relative;
    	  left: 0px;
	 }
	 .reminder-div {
	    height: 110px;
	 }
	 .gracePeriodDivResp{
		height: 25px;
	    width: 150px;
	    margin-top: 10px;
	}
	.radio_chlbox_div {
		height: 80px;
	}
	.mrgLft-10{
		margin-left: 0px;
	}
}
@media (max-width: 1024px){
	.lft-3{
		left: 0px;
	}
	.radio_chlbox_div {
		height: 80px;
	}
	.mrgLft-10{
		margin-left: 0px;
	}
	.start_datepick{
	     width: 70%; 
	     position: relative;
    	 left: 0px;
    	 margin-bottom:1rem;
	 }
	 .end_datepick {
     	  width: 70%; 
     	  position: relative;
    	  left: 0px;
	 }
	 /*for login user name display in header*/
	.headeruser-text {
	    font-weight: bolder;
	    position: relative;
	    top: -27px;
	    left: 20px;
	}
	.role-li {
	    position: relative;
	    top: -35px;
	    left: 15px;
	}
	.caret_position {
	    position: relative;
	    color: #fff!important;
	    top: -34px;
	    left: 13px;
	}
}

.plus-buttonTeacher {
    left: 30px;
    position: relative;
    font-size: 20px;
    top: -9px;
}
.minus-buttonTeacher {
    position: relative;
    font-size: 30px;
    top: -23px;
    
    left: 30px;
}