
* {
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
}

.btn {
	text-align: center;
	text-transform: uppercase;
	color: white;
	/* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
}

/* Demo Stuff End -> */
.btn-1 {
	background-image: linear-gradient(to right, #c1303d, #121c7a);

	/* <- Magic Stuff Start */
}

/** float container */
.float-container {
	border: solid 1px #ccc;
	box-sizing: border-box;
	margin-bottom: 18px;
	padding: 0 8px;
	position: relative;
	width: 300px;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	line-height: 0.5em;
	 height: 43px;
}

.test {
	border: none;
	font-size: 14px;
	outline: 0;
	padding: 16px 0 10px;
	width: 100%;
	height: 40px;
}

input[type=date] {
	line-height: 1.5em;
}

/****  floating-Lable style start ****/
.floating-label {
	position: relative;
	margin-bottom: 10px;
}

.floating-select {
	font-size: 14px;
	padding: 4px 4px;
	display: block;
	width: 300px;
	height: 40px;
	background-color: transparent;
	border: none;
	border: solid 1px #ccc;
	box-sizing: border-box;
	margin-bottom: 18px;
	position: relative;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	line-height: 0.5em;
}

.floating-select:focus {
	outline: none;
}

.floating-select:focus ~ label, .floating-select:not ([value=""] ):valid 
	 ~ label {
	top: -25px;
	left: 10px;
	background-color: #fff;
	font-size: 12px;
	color: #52B5EE;
}

label #role {
	font-weight: 300;
	font-size: 14px;
	position: absolute;
	transform-origin: top left;
	transform: translate(0, 16px) scale(1);
	transition: all .1s ease-in-out;
	//
	speed
}

/** active label */
.active label #role {
	color: #00A0E3;
	transform: translate(0, 4px) scale(.75);
	top: -8px;
	background-color: white;
	font-size: 14px;
}

label {
	font-weight: 300;
	font-size: 14px;
	position: absolute;
	left: 5px;
	top: -2px;
	transform-origin: top left;
	transform: translate(0, 16px) scale(1);
	transition: all .1s ease-in-out;
	//
	speed
}

.label1 {
	font-weight: 300;
	font-size: 14px;
	position: absolute;
	left: 26px;
	top: 490px;
	transform-origin: top left;
	transform: translate(0, 16px) scale(1);
	transition: all .1s ease-in-out;
	//
	speed
}

/** active label */
.active label {
	color: #00A0E3;
	transform: translate(0, 4px) scale(.75);
	top: -8px;
	background-color: white;
	font-size: 14px;
}

.req {
	color: red;
}

.floatingLabel {
	font-size: 14px;
}

#EmailExits {
	color: red;
}