@font-face {
	font-family: Oswald;
	src: url('../fonts/oswald/Oswald-Light.ttf');
}

.questionResponse, .questionResponse th, .questionResponse td {
	border: 1px solid #dadada;
	vertical-align: top;
}

.questionResponse th, .questionResponse td {
	padding: 5px !important;
	text-align: left;
}

.questionResponse {
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}

.pickOneOption, .pickManyOption, .dragAndDropOption, .hotSpotOption {
	border: 0;
}

.width80 {
	width: 80%;
	margin-left: 0;
	margin-bottom: 15px;
}

/* drag and drop */
#previewDragAndDropDiv {
	/* width: 435px; */
	height: 455px;
	background-color: #eaeef3;
	border-radius: 5px;
	padding: 15px;
}

#previewDragAndDrop {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	display: table;
}

/* hotspot */
#previewHotSpotDiv {
	/* width: 435px; */
	height: 455px;
	background-color: #eaeef3;
	border-radius: 5px;
	padding: 15px;
}

#previewHotSpot {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* width: 100%; */
	height: 100%;
	margin: 0 auto;
	float: none;
	overflow: hidden;
	/* display: table; */
}

/* resizing hotspot region */
.resize-drag {
	border: 1px solid #29e;
	color: #29e;
	/* font-size: 14px; */
	font-family: sans-serif;
	/* border-radius: 8px; */
	padding: 5px;
	margin: 15px 15px;
	touch-action: none;
	/* width: 80px;
            height: 45px; */
	overflow: hidden;
	text-align: center;
	/* This makes things *much* easier */
	box-sizing: border-box;
}

/*         .resize-container {
        display: inline-block;
        width: 100%;
        height: 240px;
        } */
input[id^="hotSpotRegion"] {
	width: 50px;
}

#dragItemTable select {
	width: 100px;
	padding: 6px 6px;
}

[id^="dropZoneName"] {
	height: 90px;
	width: 25%;
}

[id^="hotSpotRegionName"] {
	display: inline-block;
	margin: 15px 12px;
	width: 100px;
	height: 60px;
}

/* hotSpot ends */

/* drag and drop  interact.js css starts */
#outer-dropzone {
	height: 140px;
	touch-action: none;
}

#inner-dropzone {
	height: 80px;
}

.dropzone {
	display: inline-block;
	background-color: #ccc;
	border: dashed 2px transparent;
	border-radius: 4px;
	margin: 15px 8px 15px 0px;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
	transition: background-color 0.3s;
}

.drop-active {
	border-color: #aaa;
}

.drop-target {
	background-color: #29e;
	border-color: #fff;
	border-style: solid;
}

.drag-drop {
	display: inline-block;
	min-width: 40px;
	/* padding: 2em 0.5em; */
	color: #000;
	/* background-color: #29e; */
	border: solid px #29e;
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	transition: background-color 0.3s;
}

.drag-drop.can-drop {
	color: #000;
	/* background-color: #4e4; */
}
/* drag and drop interact.js css ends */
[id^="dropItemName"] {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(256, 256, 256, 1);
	margin: 15px;
	width: 80px;
	height: 45px;
}

.fa {
	font-size: 15px !important;
}

#previewDragAndDropDiv {
	background: url('../images/testing/Grid1.png') repeat;
	background-size: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	margin: 0;
	/* overflow: hidden; */
	overflow-y: scroll;
}

.filterQuestion select {
	border-radius: 4px;
	width: 120px;
}

.buttonContentAuthor a {
	width: 125px;
}

/* export button */
.buttons-excel {
	border: 0;
	background-color: transparent;
}

.buttons-excel span {
	margin-left: 5px;
	margin-top: 5px;
	/* color: #1ea234; */
	position: relative;
	top: 3px;
}

.buttons-excel:before {
	content: "";
	background-image: url(../images/export2.png);
	background-size: 17px 19px;
	background-color: transparent;
	display: inline-block;
	width: 17px;
	height: 19px;
	position: relative;
	top: 6px;
}

.buttons-copy {
	margin-left: 120px;
	border: 0;
	background-color: transparent;
}

.buttons-copy span {
	margin-left: 5px;
	margin-top: 5px;
	/* color: #1ea234; */
	position: relative;
	top: 3px;
}

.buttons-copy:before {
	content: "";
	background-image: url(../images/import2.png);
	background-size: 17px 19px;
	background-color: transparent;
	display: inline-block;
	width: 17px;
	height: 19px;
	position: relative;
	top: 6px;
}

/* Drop Down */
[id^="previewDivDropDown"] {
	height: 210px;
	background-color: #eaeef3;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 15px;
}

[id^="previewDropDown"] {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	display: table;
}

.divDropdownClose {
	position: relative;
	top: -10px;
}

[class^="dropdownClose"] {
	border: 2px solid grey;
	border-radius: 50%;
	padding: 3px 6px;
}

.fa-timesDropDown {
	font-size: 16px !important;
}

.addDropDown:hover {
	text-decoration: none;
}

/* richtext plugin starts*/
.richText-dropdown {
	z-index: 1111;
}
/* richtext plugin ends*/

/* PICK MANY css starts */
.labelTypepickMany {
	padding-left: 30px;
}

.optionTypePickMany {
	width: 100%;
	border-radius: 5px;
	padding: 5px 7px;
}

#addOptionPickMany {
	margin-top: 10px;
}
/* PICK MANY css ends */

/* PICK ONE css starts */
.pickOneLabelType {
	padding-left: 30px;
}

.pickOneOptionType {
	width: 100%;
	border-radius: 5px;
	padding: 5px 7px;
}

#pickOneAddOption {
	margin-top: 10px;
}
/* PICK ONE css ends */

/* CONTENT AUTHOR DASHBOARD starts */
.divContentAuthorQuestion .panel {
	padding: 10px;
	height: 115px;
	margin-bottom: 15px;
}

.contentAuthorQuestion {
	font-family: Oswald;
	color: #921a1d;
	font-size: 50px;
	font-weight: 700;
}

.mediaDiv .panel {
	padding-top: 20px;
	padding-bottom: 20px;
	height: 115px;
	margin-bottom: 15px;
}

.mediaDiv:last-child {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.mediaDiv .panel img {
	width: 42%;
}

.ui-aside-compact .mediaDiv .panel img {
	width: 39%;
}

#questionBank1 thead tr th:not (:last-child ){
	padding: 10px 5px;
	border-right: 1px solid #d9d9d9;
}

#questionBank1 tbody tr {
	background-color: #fff;
	text-align: center;
}

#questionBank1 tbody tr td {
	padding: 10px 5px;
	border-right: 1px solid #d9d9d9;
	font-size: 13px;
}



.sorting_1 {
	background-color: #fff !important;
}

.filterQuestion {
	margin: 5px 0px 40px 0px;
}

.filterQuestion select {
	padding: 5px;
	width: 100%;
	border: 1px solid #d9d9d9;
}

.filterQuestion div:first-child {
	padding-left: 0px;
}

.filterQuestion div:last-child {
	padding-right: 0px;
}

.textContentAuthorQuestion {
	padding-left: 5px;
}

.mediaPanel div {
	padding-right: 0px;
}

.mediaPanel a {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

#questionBank1 tr td:last-child a:not (:last-child ){
	padding-right: 15px;
}

#questionBank1 tr td:last-child a img {
	width: 13px;
	color: #777;
}

.filterQuestion div ul li a {
	border: 1px solid #dadada;
	padding: 7px 12px;
	border-radius: 5px;
}

.filterQuestion div ul li:hover a {
	background-color: transparent;
}

#treeview {
	padding-left: 0px;
}
#treeview ul{
	padding-left: 10px;
}
#treeview li {
	text-decoration: none;	
}
#treeview>ul>li>label {
	font-weight: 700;
}
#treeview ul li ul {
	padding-left: 30px;
}
/* CONTENT AUTHOR DASHBOARD ends */
/* created and updated detail on hover  starts*/
#questionBank2 thead tr th:not (:last-child ){
	padding: 0px 5px;
	border-right: 2px solid #d9d9d9;
}

#questionBank2 tbody tr {
	background-color: #fff;
	text-align: center;
}

#questionBank2 thead tr {
	background-color: #293171;
	text-align: center;
	color: #fff;
}

#questionBank2 tbody tr td {
	padding: 0px 5px;
	border-right: 2px solid #d9d9d9;
	font-size: 13px;
}

#questionBank2 tr td:last-child a:not (:last-child ){
	padding-right: 15px;
}

#questionBank2 tr td:last-child a img {
	width: 3px;
	color: #777;
}

#questionBank3 thead tr th:not (:last-child ){
	padding: 0px 5px;
	border-right: 2px solid #d9d9d9;
}

#questionBank3 tbody tr {
	background-color: #fff;
	text-align: center;
}

#questionBank3 thead tr {
	background-color: #293171;
	text-align: center;
	color: #fff;
}

#questionBank3 tbody tr td {
	padding: 0px 5px;
	border-right: 2px solid #d9d9d9;
	font-size: 13px;
}

#questionBank3 tr td:last-child a:not (:last-child ){
	padding-right: 15px;
}

#questionBank3 tr td:last-child a img {
	width: 3px;
	color: #777;
}

#questionBank4 thead tr th:not (:last-child ){
	padding: 0px 5px;
	border-right: 2px solid #d9d9d9;
}

#questionBank4 tbody tr {
	background-color: #fff;
	text-align: center;
}

#questionBank4 thead tr {
	background-color: #293171;
	text-align: center;
	color: #fff;
}

#questionBank4 tbody tr td {
	padding: 0px 5px;
	border-right: 2px solid #d9d9d9;
	font-size: 13px;
}

#questionBank4 tr td:last-child a:not (:last-child ){
	padding-right: 15px;
}

#questionBank4 tr td:last-child a img {
	width: 3px;
	color: #777;
}

#questionBank5 thead tr th:not (:last-child ){
	padding: 0px 5px;
	border-right: 2px solid #d9d9d9;
}

#questionBank5 tbody tr {
	background-color: #fff;
	text-align: center;
}

#questionBank5 thead tr {
	background-color: #293171;
	text-align: center;
	color: #fff;
}

#questionBank5 tbody tr td {
	padding: 0px 5px;
	border-right: 2px solid #d9d9d9;
	font-size: 13px;
}

#questionBank5 tr td:last-child a:not (:last-child ){
	padding-right: 15px;
}

#questionBank5 tr td:last-child a img {
	width: 3px;
	color: #777;
}

#questionButtonGroup button {
	text-transform: uppercase !important;
}

/* Preview css starts */
#previewCreateQuestionModal .modal-dialog {
	width: 88%;
}

#previewCreateQuestionModal .modal-body {
	background-image: url(assets/images/landingPage5.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-top: 0px;
	position: relative;
}

.previewClose {
	position: absolute;
	top: -20px;
	right: -22px;
	/* z-index: 1111; */
	width: 30px;
	height: 30px;
	background-color: rgba(0, 0, 0, 1) !important;
	border-radius: 50%;
	color: #fff !important;
	opacity: .8;
}

.previewDivQuestion {
	min-height: 70px;
	background-color: rgba(0, 0, 0, .3);
	color: #fff;
}

.previewDivQuestion div {
	padding: 2px;
}

[id^="dropZonePreviewName"] {
	position: absolute;
	/* dropzone */
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.5);
	border: dashed 2px transparent;
	border-radius: 4px;
	margin: 15px 15px 0px 0px;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
	transition: background-color 0.3s;
	/* resize-drag */
	border: 1px solid #29e;
	color: #29e;
	font-family: sans-serif;
	touch-action: none;
	overflow: hidden;
	text-align: center;
	box-sizing: border-box;
}

[id^="dropItemPreviewName"] {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(256, 256, 256, 1);
	position: absolute;
	/* drag-drop */
	display: inline-block;
	min-width: 45px;
	padding: 2em 0.5em;
	color: #000;
	border: solid px #29e;
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	transition: background-color 0.3s;
	/* resize-drag */
	border: 1px solid #29e;
	color: #29e;
	font-family: sans-serif;
	padding: 5px;
	margin: 15px;
	touch-action: none;
	width: 80px;
	height: 45px;
	overflow: hidden;
	text-align: center;
	box-sizing: border-box;
}
/* .dropZonePreviewContainer{
            padding: 15px;
        }
        .dragItemPreviewContainer{
            padding: 10px;
        } */
#previewSubmitAndNext {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}
/* Preview css ends */

/* Preview hotspot starts */
#previewCreateHotSpotModal .modal-dialog {
	width: 88%;
}

#previewCreateHotSpotModal .modal-body {
	padding: 0 15px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

[id^="hotSpotPreviewRegionName"] {
	display: inline-block;
	margin: 15px 12px;
	width: 100px;
	height: 60px;
	position: absolute;
	/* resize-drag */
	border: 1px dashed #29e;
	color: #29e;
	/* font-size: 14px; */
	font-family: sans-serif;
	/* border-radius: 8px; */
	padding: 5px;
	touch-action: none;
	overflow: hidden;
	text-align: center;
	box-sizing: border-box;
}

#previewModalHotSpot {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* width: 100%; */
	height: 100%;
	margin: 0 auto;
	float: none;
	/* display: table; */
}

#previewCreateHotSpotModal .previewProportion {
	padding: 15px;
}
/* Preview hotspot ends */

/* Preview DROPDOWN starts */
#previewCreateDropDownModal .modal-dialog {
	width: 88%;
}

#previewCreateDropDownModal .modal-body {
	padding: 0 15px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#previewModalDropDown {
	float: none;
	margin: 10px auto 0;
}

[id^="dropdownPreviewContainerDiv"] {
	display: inline-block;
	width: 300px;
	height: 230px;
	/* border: 1px solid black; */
	padding: 15px 15px 0px 15px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
}

[id^="dropdownPreviewImageDiv"] {
	height: 70%;
	/* border: 1px solid red; */
	/* background-image: url(../images/landingPage5.jpg); */
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

[id^="dropdownPreviewSelectDiv"] {
	padding-top: 10px;
	height: 30%;
	/* border: 1px solid red; */
}

[id^="dropdownPreviewImageSelect"] {
	width: 100%;
	padding: 8px;
	/* border: 1px solid #dadada; */
	border-radius: 5px;
}

[id^="dropdownImageTable"] {
	margin-bottom: 0px;
}
/* Preview DROPDOWN ends */

/* Preview DROPDOWN BLANK starts */
#previewCreateDropBlankModal .modal-dialog {
	width: 88%;
}

#previewCreateDropBlankModal .modal-body {
	padding: 0 15px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#previewCreateDropBlankModal .previewProportion {
	float: none;
}

.previewDivQuestionDropBlank {
	min-height: 70px;
}

#previewModalDropBlank {
	float: none;
	margin: 50px auto 0px;
	padding: 25px;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
	border-radius: 5px;
}

#previewModalDropBlank [id^="dynamicBlankSelect"] {
	width: 130px;
	color: #000;
}

#previewQDiv {
	background-color: rgba(0, 0, 0, 0.3);
	height: 70px;
	padding: 15px;
	color: #fff;
}

/* Preview DROPDOWN BLANK ends */

        /* Preview PICK MANY starts */
        #previewCreatePickManyModal .modal-dialog{
            width: 88%;
        }
        #previewCreatePickManyModal .modal-body{
            padding: 0 15px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        #mediaPreviewPickManyDiv{
            display: none;
            background-color: rgba(0,0,0,0.5);
            height: 50%;
            float: none;
            margin: 10px auto 0px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        #answerPreviewPickManyDiv{
            background-color: rgba(0,0,0,0.5);
            /* height: 46%; */
            height: 98%;
            float: none;
            margin: 5px auto 0px; 
            padding: 10px;
        }
        .previewProportion{
            position: relative;
            width: 1162px;
            height: 455px;
            margin: 0 auto;
        }
        #previewCreatePickManyModal .previewProportion{
        	float: none;
            position: relative;
            width: 1162px;
            height: 430px;
            margin: 0 auto;
            
        }

        [id ^= "answerPreviewPickManyOptionDiv"]{
            display: inline-block;
            min-width: 23%;
            margin-bottom: 5px;
            text-align: left;
            color: #fff;
            background-color: rgba(234, 238, 243,0.4);
		    border-radius: 4px;
		    padding-left: 15px;
		    margin-left: 5px;
        }
        [id ^= "answerOptionImageType"]{
            width: 100%;
            height: 86px;
            /* background-image: url('../images/landingPage5.jpg'); */
            background-size: 100% 100%;
            background-repeat: no-repeat;
            
        }
        #imageAWSPickManyDiv {
			border: 1px solid #dadada;			
			padding: 5px 10px;
		}
		
		}
		#imageAWSPickManyDiv input{
			font-size: 12px;
			padding: 0px 5px;
			font-weight: 400;
			
		}
		#imageAWSPickManyDiv input:nth-child(2){
			border: 0;	
		}
		.radioMediaPickManyDiv .radio{
			padding-top: 0px;
		}
		.radioMediaPickManyDiv, .labelTypepickMany, .inputTypeMediaPickManyDiv{
			pointer-events: none;
		    opacity: .6;
		}
		#mediaTypePickMany{
			width: 120px;
		}
        /* Preview PICK MANY ends */
        
        /* Preview PICK ONE css starts */
        #previewCreatePickOneModal .modal-dialog{
            width: 88%;
        }
        #previewCreatePickOneModal .modal-body{
            padding: 0 15px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        #mediaPreviewPickOneDiv{
            display: none;
            background-color: rgba(0,0,0,0.5);
            height: 50%;
            float: none;
            margin: 10px auto 0px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        #answerPreviewPickOneDiv{
            background-color: rgba(0,0,0,0.5);
            /* height: 46%; */
            height: 98%;
            float: none;
            margin: 5px auto 0px; 
            padding: 10px;
        }
        .previewProportion{
            position: relative;
            width: 1162px;
            height: 455px;
            margin: 0 auto;
        }
        #previewCreatePickOneModal .previewProportion{
        	float: none;
            position: relative;
            width: 1162px;
            height: 430px;
            margin: 0 auto;
            
        }

        [id ^= "answerPreviewPickOneOptionDiv"]{
            display: inline-block;
            min-width: 23%;
            margin-bottom: 5px;
            text-align: left;
            color: #fff;
            background-color: rgba(234, 238, 243,0.4);
		    border-radius: 4px;
		    padding-left: 15px;
		    margin-left: 5px;
        }
        [id ^= "answerOptionPickOneImage"]{
            width: 100%;
            height: 86px;
            /* background-image: url('../images/landingPage5.jpg'); */
            background-size: 100% 100%;
            background-repeat: no-repeat;
            
        }
        #imageAWSPickOneDiv {
			border: 1px solid #dadada;			
			padding: 5px 10px;
		}
		
		}
		#imageAWSPickOneDiv input{
			font-size: 12px;
			padding: 0px 5px;
			font-weight: 400;
			
		}
		#imageAWSPickOneDiv input:nth-child(2){
			border: 0;	
		}
		.radioMediaPickOneDiv .radio{
			padding-top: 0px;
		}
		.radioMediaPickOneDiv, .labelTypepickOne, .inputTypeMediaPickOneDiv{
			pointer-events: none;
		    opacity: .6;
		}
		#mediaTypePickOne{
			width: 120px;
		}
        /* Preview PICK ONE css ends */

/* common preview css starts */
#submitPreviewDiv {
	padding-bottom: 10px;
}

#imageAWSContainerDiv {
	border: 1px solid #dadada;
	width: 35%;
	margin-left: 14px;
	padding: 5px 10px;
}

}
#imageAWSContainerDiv input{
	font-size: 12px;
	padding: 0px 5px;
	font-weight: 400;
	
}
#imageAWSContainerDiv input:nth-child(2){
	border: 0;	
}
#inputFileType{
	/* width: 100%; */
}
#inputFileType input{
	height: 22px;
    line-height: 0;
    color: #000;
    float: left;
}
#inputFileType input:nth-child(2){
	border: 0;
	/* padding-left: 2px; */
}
.checkManyDragZoneFlagAnswer{
	border: 0;
}

audio{
	/* margin-top: 30px; */
}
/* common preview css ends */

/* created and updated detail on hover  ends*/
/* added by keshav */
#noFileToUploadModal{
	z-index: 11111 !important;
}
#notValidFormatModal{
	z-index: 111111 !important;
}
#filesGreaterThan15MBModal{
	z-index: 1111111 !important;
}
.renameMedia{
	 /* pointer-events: none; */
	 cursor: default;
} 
/*chandni starts 2-4-19*/
#importExportID1 tbody tr td {
	padding: 10px 5px;
	border-right: 1px solid #d9d9d9;
	font-size: 13px;
}

#importExportID1 thead tr th:not (:last-child ){
	padding: 10px 5px;
	border-right: 1px solid #d9d9d9;
}

#importExportID1 tbody tr {
	background-color: #fff;
	text-align: center;
}



/*chandni end*/

/****this is for edit video and for checkbox for pickmanypickone*******/
.for_checkbox{
position: absolute;
width: 100%;
}
.for_video{
	padding: 4%;
	/*width: 100%;
	 margin-left: 50%; 
	height: 40%;*/
	background-color: rgba(0,0,0,0.5);
	/* width: 550px; */
    height: 270px;
}

/* end */

/* media modal select hidden starts */
.selectMediaDisplay{
	display: none;
}
/* media modal select hidden ends */

#dragAndDropPreviewQuestionText *{
	padding: 0;
}

#tablePickMany tbody tr td:nth-child(2) input[type = "text"]:nth-child(1){
	width: 100%;
} 

#tablePickMany thead tr th:nth-child(1){
	width: 50px;
}
#tablePickMany tbody tr td:nth-child(1){
	width: 50px;
}

#tablePickMany thead tr th:nth-child(3){
	width: 140px;
}
#tablePickMany tbody tr td:nth-child(3){
	width: 140px;
}

#tablePickMany thead tr th:nth-child(4){
	width: 100px;
}
#tablePickMany tbody tr td:nth-child(4){
	width: 100px;
}


#tablePickOne thead tr th:nth-child(1){
	width: 50px;
}
#tablePickOne tbody tr td:nth-child(1){
	width: 50px;
}

#tablePickOne thead tr th:nth-child(3){
	width: 140px;
}
#tablePickOne tbody tr td:nth-child(3){
	width: 140px;
}

#tablePickOne thead tr th:nth-child(4){
	width: 100px;
}
#tablePickOne tbody tr td:nth-child(4){
	width: 100px;
}

 #tablePickOne tbody tr td:nth-child(2) input[type = "text"]:nth-child(1){
	width: 100%;
} 

 
.closebutton {
    position: absolute;
    right: -15px;
    top: -15px;
    z-index: 11111;
}
.closeImg{
  height: 32px;
    position: relative;
    bottom: 6px;
}
/**********new css for question preview*******/
.mt-24{
	    margin-top: -24px;
}
.mt-6{
	margin-top: 6%;
}
.for_audio {
    /* padding: 2%; */
    background-color: rgba(255,255,255,0.7);
  /*   width: 550px; */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.audioRow{
	display: flex;
    justify-content: center;
}
.videoRow{
	display: flex;
    justify-content: center;
}
/* ----------PGCS--------- */
#studentPickOneImage img{
	transition: transform .4s ease-in-out;
	transform-origin: top center;
	z-index: 11111;
	position: relative;
}

#studentPickOneImage img:hover{
	-ms-transform: scale(1.4); 
	-webkit-transform: scale(1.4); 
	transform: scale(1.4);

}
#dashboardViewPickMany [id ^= "answerPreviewPickOneOptionDiv"]{
	transition: transform .4s ease-in-out;
	transform-origin: top center;
	background-color: transparent!important;
}

#dashboardViewPickMany [id ^= "answerPreviewPickOneOptionDiv"]:hover{
	-ms-transform: scale(1.2); 
	-webkit-transform: scale(1.2); 
	transform: scale(1.2);

}
#dashboardViewPickOne [id ^= "answerPreviewPickOneOptionDiv"]{
	transition: transform .4s ease-in-out;
	transform-origin: top center;
	background-color: transparent!important;
}

#dashboardViewPickOne [id ^= "answerPreviewPickOneOptionDiv"]:hover{
	-ms-transform: scale(1.2); 
	-webkit-transform: scale(1.2); 
	transform: scale(1.2);

}
/* ----------PGCE--------- */