
[class ^= "dropDownTypeSelect"]{
    width: 80%;
    border-radius: 5px;
    padding: 3px 7px;
}

[id ^= "dropdownQuestionImage"]{
	width: 95px;
}

[id ^= "textareaDropDownPreview"]{
	height: 68%;
}

.dragAndDropTypeSelect{
	width: 120px;
	padding: 3px 7px;
	border: 1px solid #dadada;
	border-radius: 4px;
}

[id ^= "dragItemImage"]{
	width: 120px;
}
#dragAndDropPreviewQuestionText ol,#dragAndDropPreviewQuestionText ul{
	list-style-position: inside;
}

#dragAndDropPreviewQuestionText *{
	background-color: transparent!important;
}
#dropdownPreviewQuestionText *{
	background-color: transparent!important;
}
#previewModalDropBlank *{
	background-color: transparent!important;
}
#hotSpotPreviewQuestionText *{
	background-color: transparent!important;
}
#pickManyPreviewQuestionText *{
	background-color: transparent!important;
}
#pickOnePreviewQuestionText *{
	background-color: transparent!important;
}

#instructionBlank{
	width: 100%;
    min-height: 70px;
    border: 1px solid #dadada;
    border-radius: 4px;
    resize: none;
    padding: 12px;
}
#paragraphDropDownBlank{
	border-top: 1px solid #dadada; 
	padding-top: 20px;
}

#mediaPreviewPickManyDiv{
	transition: transform .4s ease-in-out;
	transform-origin: top left;
	z-index: 11111;
}

#mediaPreviewPickOneDiv{
	transition: transform .4s ease-in-out;
	transform-origin: top left;
	z-index: 11111;
}

[id ^= "answerOptionImageType"]{
	transition: transform .4s ease-in-out;
	transform-origin: top center;
}

[id ^= "answerOptionImageType"]:hover{
	-ms-transform: scale(1.4); 
	-webkit-transform: scale(1.4); 
	transform: scale(1.4);

}

[id ^= "answerOptionPickOneImage"]{
	transition: transform .4s ease-in-out;
	transform-origin: top center;
}

[id ^= "answerOptionPickOneImage"]:hover{
	-ms-transform: scale(1.4); 
	-webkit-transform: scale(1.4); 
	transform: scale(1.4);

}

#editQuestionDashboard .dropdownClose1{
	pointer-events: none; 
	opacity: 0.7; 	
}

[id^="dynamicBlankSelect"] {
    width: 130px;
    color: #000;
}