.pickManyDashbordPreview{
	

	margin:10px;
	background-repeat:no-repeat; 
	background-size: 100px 100px;
	height:100px;
	width:100px;
	display:inline-block;
}
.pickManyDashbordOptionText{
	width:100%;
	margin-top:100px;
}

