.pickManyDashbordPreview{
	

	margin:10px;
	background-repeat:no-repeat; 
	background-size: 100px 100px;
	height:100px;
	width:100px;
	display:inline-block;
}
.pickManyDashbordOptionText{
	width:100%;
	margin-top:100px;
}

.welcome{
    color: white;
    font-size: 60px;
    text-align:center;
    margin-top: 8%;
}
.dashboard-button{
    background-image: linear-gradient(to bottom,#1D1E4E 50%, #29348D 50%);
    width: 245px;
    border: none;
    height: 60px;
    font-size: 22px;
    margin:auto;
    margin-top: 10%;
}

.returnbutton{
    background-image: linear-gradient(to bottom,#4e1d1d 50%, #8d2929 50%);
    width: 245px;
    border: none;
    height: 60px;
    font-size: 22px;
    margin:auto;
   
}
.startbutton{
    background-image: linear-gradient(to bottom,#1D1E4E 50%, #29348D 50%);
    width: 245px;
    border: none;
    height: 60px;
    font-size: 22px;
    margin:auto;
   
}
.instuctionFooter{
    background-color: #888;
    opacity:0.9;
    height: 145px;
    position: relative;
   left: 0;
   bottom: 0;
   width: 101%;
   color: white;
   text-align: center;
}
}
.instructon{
    font-size: 25px;
    color: white;
}
.instructionimg{
    height:40px;
    width:40px;
    margin-left: 25%;
    margin-right: 25px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.instructionbtn{
    text-align: center;
    top: 45px;
    position: relative;
}

.instructmain{
    font-size:25px;
    color:white;
    line-height: 3;
}
.header2{
    
    position:absolute;
    color:white;
    width: 100%;
    height: 50px;
    z-index: 100;  
    font-size: 20px; 
    margin-left:0px;          
}
.questionData{
  background-color:white;
  opacity: 0.7;
  height:auto;
  padding: 10px 65px;
  color: black;
  margin-top: 48px;
  
  
}
.QuestionNumbers{
  position: relative;
  top: 25%;
  left: 6%;
}
#timer{

  font-family: 'Oswald', sans-serif;
  font-size: 27px;
}
.remainingTime{
 
}
.OptionStudentTest{
    background: white;
    border-radius: 8px;
    padding: 10px;
    margin-left: 5%;;
    /* font-size: 18px; */
    font-size: 16px;
    color: black;
    margin-bottom: 1%; 
    height:auto;
}
.SubmitTestButton{
    background-image: linear-gradient(to bottom,#1D1E4E 50%, #29348D 50%);
    width: 114px;
    border: none;
    float: right;
    border-radius: 8px;
    height: 42px;
    text-align: center; 
    padding: 3px;
    color: white!important;
}
.footerStudentTest{
    /* position: relative; */
    /* position: absolute;
    left: 0;
    bottom: 0; */
    width: 100%;
    color: white!important;
    padding: 60px 40px;
}
.footerStudentTest:hover{
    color:white;
    text-decoration: none;
}
.imageDesign{
    /* width: 250px; */
    width: 100%;
    height: 250px;
    border:none;
    border-radius:10px;
    background-color:white;
    padding: 10px;
}
input[type=radio]{   
    margin-bottom: 2px;
    padding: 0;
    height: 22px;
    width: 22px;
    bottom: 2px; 
    position: relative;
    border: 1px solid;
    border-color:#A12846;
    top: -4px;
    background-color: white;
} 
input[type=radio]:before{
    background-color: #fff;
    border: 1px solid;
    border-color:#0F4688;
    box-shadow: inset 0 0 1px 3px #f5f5f5;
    content: "";
    display: inline-block;
    height: 22px;
    width: 22px;
    border-radius:11px;
}
input[type=radio]:checked:after{
    /*background-color:#aaa;*/
    background-image: linear-gradient(to right, #29348D 0%, #29348D 100%);
    border: 1px solid;
    border-color:#29348D;
    box-shadow: inset 0 0 1px 3px white;
    content: "";
    display: inline-block;
    height: 22px;
    left: 0px;
    position: absolute; 
    top: 0px;
    width: 22px;
    border-radius:11px;
}
.mediaPickMany{
    height:250px;
    background-color:white;
}

input[type=checkbox]{   
    margin-bottom: 2px;
    padding: 0;
    height: 22px;
    width: 22px;
    bottom: 2px; 
    position: relative;
    border: 1px solid;
    border-color:#A12846;
    top: -4px;
    background-color: white;
} 
input[type=checkbox]:before{
    background-color: #fff;
    border: 1px solid;
    border-color:#0F4688;
    box-shadow: inset 0 0 1px 3px #f5f5f5;
    content: "";
    display: inline-block;
    height: 22px;
    width: 22px;
    border-radius:1px;
}
input[type=checkbox]:checked:after{
    /*background-color:#aaa;*/
    background-image: linear-gradient(to right, #29348D 0%, #1d1e4e 100%);
    border: 1px solid;
    border-color:#29348D;
    box-shadow: inset 0 0 1px 3px white;
    content: "";
    display: inline-block;
    height: 22px;
    left: 0px;
    position: absolute; 
    top: 0px;
    width: 22px;
    border-radius:1px;
}

.divBorder{
	/* border: 4px solid #29348D; */
	border: 4px solid rgba(0,0,0,.8);
}

/* ----------------- */
.header2 div:first-child{
	background-color:#29348D;
	height:100%
}
.header2 div:last-child{
	background-color:#1D1E4E;
	height:100%;
	text-align: right; 
	padding-right: 40px;
}

#studentPickOneImage div img{
	width: 550px;
	height: 270px;
	margin-top: 30px;;
	
}
#studentPickOneOption {
	margin-top: 20px;
}
#studentPickOneOptionContainer {
	width: 85%;
	margin: 0 auto;
}

.OptionStudentTest input[type="radio"]{
	background-color:white;
}
.OptionStudentTest div:first-child{
	padding: 5px 0px 0px 0px!important;
}
.OptionStudentTest div:last-child{
	padding-left: 0px!important;
}

	#studentPickOneImage{	
		    width: 550px;
		    height: 270px;		    
		    margin: 25px auto 20px;
		    float: none!important;
	}
	#studentPickOneImage img {
	   	width: 100%;
		height: 100%;
				
	}
	
#containerQuestionStudentPickOne{
	min-height: 500px;
	margin-top: 30px;
}	
	
#questionDataRow{
	margin:0px;
}
	
[id ^= "answerPreviewPickOneOptionDiv"]{
	margin-top: 20px;
}
	
@media(max-width:767px){
	.imageDesign{
	    /* width: 250px; */
	    width: 150px;
	    height: 150px;
	    margin-bottom: 15px;
	}
	#studentPickOneImage div img {
	    margin: 10px;
	}
	#studentPickOneImage{	
		    width: 90%;
		    height: 270px;		    
		    margin: 10px auto 0px;
		    float: none!important;
	}
	#studentPickOneImage img {
	   	width: 100%;
		height: 100%;
				
	}
	
    .ui {padding-top: 50px;}
    .header{width:101%;}
    /* .questionData{margin-top: 100px;} */
    
    .navbar-right{
    	position: relative;
    	top: -50px;
    }
    
    .SubmitTestButton{
    	width: 85px;
    	height: 32px;
    }
    #questionDataRow{
	margin-top: 100px;
}
	
}
@media(min-width:768px){
	.imageDesign{
	    /* width: 250px; */
	    width: 100%;
	    height: 160px;
	    margin-bottom: 20px;
	    margin-right: 15px;
	}

}
@media(min-width:992px){
	.imageDesign{
	    /* width: 250px; */
	    width: 200px;
	    height: 200px;
	}
	.studentMediaPickManyClass, .studentMediaPickOneClass {
    width: 100%!important;
    height: 270px;
    margin: 25px auto 20px;
    float: none!important;
}
}
@media(min-width:1200px){
	.imageDesign{
	    /* width: 250px; */
	    width: 250px;
	    height: 250px;
	}
}
.containerDragAndDropStudent{
	margin: 50px 50px 0;
}
/* #studentBodyDragDrop .SubmitTestButton{
	position: absolute;
	bottom: 0!important;
} */

#containerStudentDropDownOption [id^="dropdownPreviewContainerDiv"] { 
    display: inline-block;
    width: 300px;
    height: 230px;
    border: 1px solid #dadada;
    padding: 15px 15px 0px 15px;
    background-color: #fff;
    border-radius: 5px;
    /* background-color: rgba(255, 255, 255,0.5); */
    background-color: #D9D9D9;
    /* position: relative;
    top: 15px;
    left: 200px; */
  }
  
  #containerStudentDropDownOption{
  	margin: 20px auto;
    float: none;
  }
  
   #containerStudentDropDownOption [id^="dropdownPreviewImageDiv"] {
    background-color: #fff;
    border-color: 1px solid;
    border: 1px solid #dadada;
    border-radius: 5px;
    padding: 8px;
    }
    .containerDragAndDropStudent [id^="dropZoneName"] {
	background-color: #fff;   
}
.containerDragAndDropStudent .drop-target {
	background-color: #29e!important;   
}


.containerDragAndDropStudent [id^="dropItemName"] {
	border: 1px solid #29e;  	
	border-radius: 5px;
	padding: 2px;
	text-align: justify;
}