
.intLink { cursor: pointer; }
img.intLink { border: 0; }
#toolBar1 select { 
	font-size:13px; 
	padding: 3px 7px;
    border-radius: 4px;
    width: 150px;
    margin-right: 6px;
    margin-bottom: 7px;
}
#textBox {
  width: 100%;
  height: 200px;
  border: 1px #000000 solid;
  padding: 12px;
  overflow: scroll;
  border: 1px solid #dadada;
  border-radius: 5px;
  margin-top: 10px;
}
#textBox #sourceText {
  padding: 0;
  margin: 0;
  min-width: 498px;
  min-height: 200px;
}
#textBox1 {
  width: 100%;
  height: 200px;
  border: 1px #000000 solid;
  padding: 12px;
  overflow: scroll;
  border: 1px solid #dadada;
  border-radius: 5px;
  margin-top: 10px;
}
#textBox1 #sourceText {
  padding: 0;
  margin: 0;
  min-width: 498px;
  min-height: 200px;
}
#textBox2 {
  width: 100%;
  height: 200px;
  border: 1px #000000 solid;
  padding: 12px;
  overflow: scroll;
  border: 1px solid #dadada;
  border-radius: 5px;
  margin-top: 10px;
}
#textBox2 #sourceText {
  padding: 0;
  margin: 0;
  min-width: 498px;
  min-height: 200px;
}
#editMode label { cursor: pointer; }

#toolBar2 img{
	margin-right: 6px;
}

#toolBar2{
	margin-top: 6px;
}

.addDropDown{
    margin-top: 2px;
    border: 1px solid #dadada;
    padding: 3px 7px!important;
    font-size: 13px;
}

.addDropDown span{
	font-size: 12px!important;
}

/*******updated css 30-7**********/
.changeTextEditorLabel {
	padding: 0px 4px;
    position: relative;
    top: -111px;
    background: #fff;
    font-size: 12px;
    color: #001CFF;
    border-color: #001CFF;
    left: 13px;
    font-weight: 500;
}
.richTextEditorLevelUp{
	height:100px!important;
}
