.welcome{
    color: white;
    font-size: 60px;
    text-align:center;
    margin-top: 8%;
}
.dashboard-button{
    background-image: -webkit-linear-gradient(bottom,#1D1E4E 50%, #29348D 50%);
    width: 245px;
    border: none;
    height: 60px;
    font-size: 22px;
    margin:auto;
    margin-top: 10%;
}

.returnbutton{
    background-image: -webkit-linear-gradient(bottom,#4e1d1d 50%, #8d2929 50%);
    width: 245px;
    border: none;
    height: 60px;
    font-size: 22px;
    margin:auto;
   
}
.startbutton{
    background-image: -webkit-linear-gradient(bottom,#1D1E4E 50%, #29348D 50%);
    width: 245px;
    border: none;
    height: 60px;
    font-size: 22px;
    margin:auto;
   
}
.instuctionFooter{
    background-color: #888;
    opacity:0.9;
    height: 145px;
    position: relative;
   left: 0;
   bottom: 0;
   width: 101%;
   color: white;
   text-align: center;
}
}
.instructon{
    font-size: 25px;
    color: white;
}
.instructionimg{
    height:40px;
    width:40px;
    margin-left: 25%;
    margin-right: 25px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.instructionbtn{
    text-align: center;
    top: 45px;
    position: relative;
}

.instructmain{
    font-size:25px;
    color:white;
    line-height: 3;
}
.header2{
    /* color:white;
    position: fixed; 
    top: 50px;
    width: 101%;
    height: 50px;
    z-index: 100;  
    font-size: 20px; */ 
    
    position:fixed;
    color:white;
    width: 101%;
    height: 50px;
    z-index: 100;  
    font-size: 20px; 
    margin-left:0px;          
}
.questionData{
  background-color:white;
  opacity: 0.7;
  height:auto;
  padding: 10px 65px;
  color: black;
}
.QuestionNumbers{
  position: relative;
  top: 25%;
  left: 6%;
}
#timer{

  font-family: 'Oswald', sans-serif;
  font-size: 27px;
}
.remainingTime{
 
}
.OptionStudentTest{
    background: white;
    border-radius: 8px;
    padding: 10px;
    margin-left: 5%;;
    /* font-size: 18px; */
    font-size: 16px;
    color: black;
    margin-bottom: 1%; 
    height:auto;
}
.SubmitTestButton{
    background-image: -webkit-linear-gradient(top,#1D1E4E 50%, #29348D 50%);
    width: 114px;
    border: none;
    float: right;
    border-radius: 8px;
    height: 42px;
    text-align: center; 
    padding: 3px;
    color: white!important;
}
.footerStudentTest{
    /* position: relative; */
    /* position: absolute;
    left: 0;
    bottom: 0; */
    width: 100%;
    color: white!important;
    padding: 10px 30px 40px;
}
.footerStudentTest:hover{
    color:white;
    text-decoration: none;
}
.imageDesign{
    /* width: 250px; */
    width: 100%;
    height: 250px;
    border:none;
    border-radius:10px;
    background-color:white;
    padding: 10px;
}
.imageDesign:hover{
-ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition: transform .1s ease-in-out;
	/* transform-origin: top center;
	background-size: 100% 100%;
	background-repeat: no-repeat;  */
}
input[type=radio]{   
    margin-bottom: 2px;
    padding: 0;
    height: 22px;
    width: 22px;
    bottom: 2px; 
    position: relative;
    border: 1px solid;
    border-color:#A12846;
    top: -4px;
    background-color: white;
} 
input[type=radio]:before{
    background-color: #fff;
    border: 1px solid;
    border-color:#0F4688;
    box-shadow: inset 0 0 1px 3px #f5f5f5;
    content: "";
    display: inline-block;
    height: 22px;
    width: 22px;
    border-radius:11px;
}
input[type=radio]:checked:after{
    /*background-color:#aaa;*/
    /* background-image:linear-gradient(to top,#1D1E4E 50%, #29348D 50%); */
    background-image: -webkit-linear-gradient(left,#1D1E4E 50%,#29348D 50%);
    border: 1px solid;
    border: 1px solid;
    border-color:#29348D;
    box-shadow: inset 0 0 1px 3px white;
    content: "";
    display: inline-block;
    height: 22px;
    left: 0px;
    position: absolute; 
    top: 0px;
    width: 22px;
    border-radius:11px;
}
.mediaPickMany{
    height:250px;
    background-color:white;
}

input[type=checkbox]{   
    margin-bottom: 2px;
    padding: 0;
    height: 22px;
    width: 22px;
    bottom: 2px; 
    position: relative;
    border: 1px solid;
    border-color:#A12846;
    top: -4px;
    background-color: white;
} 
input[type=checkbox]:before{
    background-color: #fff;
    border: 1px solid;
    border-color:#0F4688;
    box-shadow: inset 0 0 1px 3px #f5f5f5;
    content: "";
    display: inline-block;
    height: 22px;
    width: 22px;
    border-radius:1px;
}
input[type=checkbox]:checked:after{
    /*background-color:#aaa;*/
    background-image: -webkit-linear-gradient(right, #29348D 0%, #1d1e4e 100%);
    border: 1px solid;
    border-color:#29348D;
    box-shadow: inset 0 0 1px 3px white;
    content: "";
    display: inline-block;
    height: 22px;
    left: 0px;
    position: absolute; 
    top: 0px;
    width: 22px;
    border-radius:1px;
}

.divBorder{
    border: 2px solid rgba(0,0,0,.8);
    display: inline-block;
    margin: 9px -129px;
    width: 100px;
    height: 60px;
    position: absolute;
    color: #29e;
    font-family: sans-serif;
    /* border-radius: 8px; */
    padding: 5px;
    touch-action: none;
    overflow: hidden;
    text-align: center;
}

/* ----------------- */
.header2 div:first-child{
	background-color:#29348D;
	height:100%
}
.header2 div:last-child{
	background-color:#1D1E4E;
	height:100%;
	text-align: right; 
	padding-right: 40px;
}

#studentPickOneImage div img{
	width: 550px;
	height: 270px;
	margin-top: 30px;
	
}
#studentPickOneImage:hover{
 -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition: transform .3s ease-in-out;
transform-origin: top left;
background-size: 100% 100%;
background-repeat: no-repeat; 
z-index:999999;	 
}
#studentPickOneOption {
	margin-top: 20px;
}
#studentPickOneOptionContainer {
	width: 85%;
	margin: 0 auto;
}

.OptionStudentTest input[type="radio"]{
	background-color:white;
}
.OptionStudentTest div:first-child{
	padding: 5px 0px 0px 0px!important;
}
.OptionStudentTest div:last-child{
	padding-left: 0px!important;
}

	#studentPickOneImage{	
		    width: 550px;
		    height: 270px;		    
		    margin: 25px auto 20px;
		    float: none!important;
	}
	#studentPickOneImage img {
	   	width: 100%;
		height: 100%;
				
	}
	
#containerQuestionStudentPickOne{
	min-height: 500px;
}	
	
#questionDataRow{
	margin-top: 50px;
}
	
[id ^= "answerPreviewPickOneOptionDiv"]{
	margin-top: 20px;
}
	
@media(max-width:767px){
	.imageDesign{
	    /* width: 250px; */
	    width: 150px;
	    height: 150px;
	    margin-bottom: 15px;
	}
	#studentPickOneImage div img {
	    margin: 10px;
	}
	#studentPickOneImage{	
		    width: 90%;
		    height: 270px;		    
		    margin: 10px auto 0px;
		    float: none!important;
	}
	#studentPickOneImage img {
	   /* 	width: 100%;
		height: 100%; */
				
	}
	
    .ui {padding-top: 50px;}
    .header{width:101%;}
    /* .questionData{margin-top: 100px;} */
    
    .navbar-right{
    	position: relative;
    	top: -50px;
    }
    
    .SubmitTestButton{
    	width: 85px;
    	height: 32px;
    }
    #questionDataRow{
	margin-top: 100px;
}
	
}
@media(min-width:768px){
	.imageDesign{
	    /* width: 250px; */
	    width: 100%;
	    height: 160px;
	    margin-bottom: 20px;
	    margin-right: 15px;
	}

}
@media(min-width:992px){
	.imageDesign{
	    /* width: 250px; */
	    width: 200px;
	    height: 200px;
	}
	.studentMediaPickManyClass, .studentMediaPickOneClass {
    width: 100%!important;
    height: 270px;
    margin: 25px auto 20px;
    float: none!important;
}
}
@media(min-width:1200px){
	.imageDesign{
	    /* width: 250px; */
	    width: 250px;
	    height: 250px;
	}
}
.containerDragAndDropStudent{
	margin: 50px 50px 0;
}
/* #studentBodyDragDrop .SubmitTestButton{
	position: absolute;
	bottom: 0!important;
} */

#containerStudentDropDownOption [id^="dropdownPreviewContainerDiv"] { 
    display: inline-block;
    width: 300px;
    height: 230px;
    border: 1px solid #dadada;
    padding: 15px 15px 0px 15px;
    background-color: #fff;
    border-radius: 5px;
    /* background-color: rgba(255, 255, 255,0.5); */
    background-color: #D9D9D9;
    /* position: relative;
    top: 15px;
    left: 200px; */
  }
  
  #containerStudentDropDownOption{
  	margin: 20px auto;
    float: none;
  }
  
   #containerStudentDropDownOption [id^="dropdownPreviewImageDiv"] {
    background-color: #fff;
    border-color: 1px solid;
    border: 1px solid #dadada;
    border-radius: 5px;
    padding: 8px;
    }
    .containerDragAndDropStudent [id^="dropZoneName"] {
	background-color: #fff;   
}
.containerDragAndDropStudent .drop-target {
	background-color: #29e!important;   
}


.containerDragAndDropStudent [id^="dropItemName"] {
	border: 1px solid #29e;  	
	border-radius: 5px;
	padding: 2px;
	text-align: justify;
	overflow: auto;
}
[class^="hotspot-img-border"] {
	display: inline-block;
	margin: 15px 12px;
	width: 100px;
	height: 60px;
	position: absolute;
	/* resize-drag */
	border: 1px dashed #29e;
	color: #29e;
	/* font-size: 14px; */
	font-family: sans-serif;
	/* border-radius: 8px; */
	padding: 5px;
	touch-action: none;
	overflow: hidden;
	text-align: center;
	box-sizing: border-box;
}

/*************image touch for ipad**************/

.imgClass{
    /* width:50%;
    margin:10px; */
    /* transition: transform .2s;
    z-index:999999;	 */
    /* width: 100%;
    height: 250px; */
    width: 100%;
    height: 100%;
    border:none;
    border-radius:10px;
    background-color:white;
    padding: 10px;
    z-index:-1;
    overflow-y:scroll;
}
 
.imgClass.minus{
	/* transform: scale(1.1);
	z-index:999999;	 */
    /* width:70%;
    margin:20px; */
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
	  transition: transform .3s ease-in-out;
	transform-origin: top bottom;
	background-size: 100% 100%;
	background-repeat: no-repeat; 
	z-index:-1;
	overflow-y:scroll;
}
/***********end*************/

.for_video{
	padding: 4%;
	/*width: 100%;
	 margin-left: 50%; 
	height: 40%;*/
	background-color: rgba(0,0,0,0.5);
	/* width: 550px; */
    height: 270px;
    margin-left: 66px;
}
.for_audio {
    /* padding: 2%; */
    background-color: rgba(255,255,255,0.7);
    width: 550px; 
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 66px;
}
.audioRow{
	display: flex;
    justify-content: center;
}
.videoRow{
	display: flex;
    justify-content: center;
}
.mt-24{
	    margin-top: -24px;
}
/***************for drag drop image********/
.drag-drop{
      width: 100px;
      height: 100px;
      background-color: rgb(245, 230, 99);
      touch-action: none;
      user-select: none;
    }
    .drag-drop:active {
      background-color: rgba(168, 218, 220, 1.00);
    } 
/****************end drag drop ************/

/********image change ontouch event************/
		.imgClass{
            width:50%;
            margin:10px;
            transition: transform .2s;
        }
        .imgClass.minus{
        	transform: scale(1.1);
		}
		@media only screen and (max-width: 768px){
		   #studentPickOneImage img {
		   		width: 60%;
		   	 	height: 80%;
			}
			#studentPickOneImage{
				margin: 25px 0px;
				text-align:left!important;
			}
		}
/**************end image touch event***********/
/***********end*************//***********hotspot image selection css*************/
.hotsPotImgBorder{
    border: 2px solid rgba(0,0,0,.8);
    display: inline-block;
  	margin: 13px -50px; 
    width: 100px;
    height: 60px;
    position: absolute;
    color: #29e;
    font-family: sans-serif;
    padding: 5px;
    touch-action: none;
    overflow: hidden;
    text-align: center;
}
.pikManyImgZoom{
    border: 2px solid rgba(0,0,0,.8);
    display: inline-block;
    padding: 5px;
    touch-action: none;
    overflow: hidden;
    text-align: center;
}
