.sign-in-wrapper .sign-container{
	box-shadow: 0px 0px 7px #999;
	
}

.input-field{
	box-shadow: none;
	display:none;
}

.studentContainer{
    padding: 35px;
    top:35px;
    width: 23%;
    opacity: 0.9;
}
.loginButton{
	background-image: -webkit-linear-gradient(bottom,#1D1E4E 50%, #29348D 50%);
	background-image: -webkit-linear-gradient(top,#1D1E4E 50%, #29348D 50%);
    width: 100px;
    border: none;
}
.loginButton:hover{
	background-image: -webkit-linear-gradient(top,#1D1E4E 50%, #29348D 50%);
    width: 100px;
    border: none;
}
.footerschoollogin {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #141437;
    color: white;
    text-align: center;
 }
.text-left{
	text-align:left;
}
.forget-pwd{
	float:right;
	color: #001cff;
    font-size: 14px;
}
.remember-me{
	font-size:15px;
}
.have-account{
	float:left;
}
.register{
	position:relative;
	margin:10px;
	color: #001cff;
    font-size: 14px;
    top: -2px;
}
.i-checks > i {
    width: 20px;
    height: 20px;
    line-height: 1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-left: -20px;
    margin-top: -2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    position: relative;
}
.i-checks input:checked + i {
    border-color: #1D1E4E;
}
.i-checks input:checked + i:before {
    left: 3px;
    top: 3px;
    width: 12px;
    height: 12px;
    background-image: -webkit-linear-gradient(right,#1D1E4E, #29348D);
}
.fa-eye:before {
    content: "\f06e";
   position: relative;
    bottom: 27px;
    left: 273px;
    color: #888;
}

.fa-eye-slash:before {
    content: "\f070";
    position: relative;
    bottom: 27px;
    left: 273px;
    color: #888;
}

.imageschool{
    background-repeat: no-repeat;
    background-size: cover;
    
}
.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
.login-content{
    position: relative;
    width: 100%;
    padding: 15px;
    outline: none;
    border: 2px solid gray;
    border-radius: 5px;
    height: 45px;
    font-size: 14px;
}

button.res {
    color: black;
    border: solid 2px transparent;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), -webkit-linear-gradient(101deg, #AF273C, #1B1D77);
    box-shadow: 2px 1000px 1px #fff inset;
    background-origin: border-box;
    background-clip: content-box, border-box;   
    border-radius: 5px;
    padding: 7px 5px;
    background-color: transparent;
   
	
}
button.res:hover{
	box-shadow:none;
	color:white;
}
.preview{
	width: 75px;
	margin: 0px 14px;
}
a.res {
    color: black;
    border: solid 2px transparent;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), -webkit-linear-gradient(101deg, #AF273C, #1B1D77);
    box-shadow: 2px 1000px 1px #fff inset;
    background-origin: border-box;
    background-clip: content-box, border-box;   
    border-radius: 5px;
    padding: 7px 5px;
    background-color: transparent;
    width: 75px;
}
a.res:hover{
	box-shadow:none;
	color:white;
}

.updateBtn {
    color: white !important;
    border: solid 2px transparent;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), -webkit-linear-gradient(101deg, #AF273C, #1B1D77);
    box-shadow:none;
    background-origin: border-box;
    background-clip: content-box, border-box;   
    border-radius: 5px;
    padding: 7px 5px;
    background-color: transparent;
    width:85px;
    
}
.updateBtn:hover{
	color:white
}
.text-right{
	text-align:right;
}

.flotlbl
{
	position: relative; bottom: 29px; 
	left: 15px;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
	pointer-events:none;
	border-color: blue;
    top: -46px;
    left: 17px;
    font-size: 12px;
    color: blue;
    background: linear-gradient(to left,#4e1d1d 50%, #8d2929 50%);
}

input:focus ~ .flotlbl,input:valid ~ .flotlbl{
	border-color: blue;
    top: -46px;
    left: 17px;
    font-size: 12px;
    color: blue;
    background: white;
	
}
.welcome{
    color: white;
    font-size: 60px;
    text-align:center;
   /*  margin-top: 8%; */
}
.dashboard-button{
    background-image: -webkit-linear-gradient(bottom,#1D1E4E 50%, #29348D 50%);
    width: 245px;
    border: none;
    height: 60px;
    font-size: 22px;
    margin:auto;
    margin-top: 10%;
}

.returnbutton{
    background-image: -webkit-linear-gradient(top,#4e1d1d 50%, #8d2929 50%);
    width: 245px;
    border: none;
    height: 60px;
    font-size: 22px;
    margin:auto;
   
}
.startbutton{
    background-image: -webkit-linear-gradient(bottom,#1D1E4E 50%, #29348D 50%);
    width: 256px;
    border: none;
    height: 60px;
    font-size: 22px;
    margin:auto;
   
}
.instuctionFooter{
    background-color: rgba(136, 136, 136, 0.7);
   /*  opacity:0.9; */
    height: 128px;
    /* position: relative; */
   /*  position: absolute;
   left: 0;
   bottom: 0; */
   width: 101%;
   color: white;
   text-align: center;
}
}
.instructon{
    font-size: 25px;
    color: white;
}
.instructionimg{
    height:40px;
    width:40px;
    margin-left: 5%;
    margin-right: 25px;
    margin-bottom: 10px;
}
.instructionbtn{
    text-align: center;
    top: 45px;
    position: relative;
}

.instructmain{
    font-size:25px;
    color:white;
    line-height: 3;
}

.loginimgsrc{
	background-image: url('../images/studentimage.jpg');
}

.landingimgsrc{
	background-image: url('../images/dashboardimg.jpg');
}

.backgroungimgsrc{
	background-image: url('../images/LightGreyQue.jpg');
}