.bodyBackground{
    background-color: #f2f5f8;
}
.DashboardColoumn{
    box-shadow: 0px 0px 5px #ddd;
    background-color: white;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 15px;
}
.ColorIndication1{
    height:10px;
    width:15px;
    background-color: #EDAA36;
    margin-right: 5px;
}
.ColorIndication2{
    height:10px;
    width:15px;
    background-color: #5FCD2C;
    margin-right: 5px;
}
.ColorIndication3{
    height:10px;
    width:15px;
    background-color: #0093A2;
    margin-right: 5px;
}
.ColorIndication4{
    height:10px;
    width:15px;
    background-color: #F97070;
    margin-right: 5px;
}
.ColorLineHeight{
    line-height: 2;
    margin-top: 35px;
}
.ColoumnTitle{
    margin: 12px 0px;
    color: black;
    font-size: 18px;
    padding-left: 10px;
}
.dashboardNoStyle{
    font-size: 34px;
    font-family: oswald;
    font-weight: 600;
    color:#7a7a7a;
    margin-left: 15px;
}
.dashboardDisable{
    font-size: 40px;
    color: #00bfe5f2;
    font-family: oswald;
    font-weight: 700;
}
.DisableContent{ 
     margin-top: 18px;
    font-size: 18px;
    color: black;
}
.DashboardColoumnBox{
    box-shadow: 0px 0px 3px #ddd;
    background-color: white;
    border-radius: 5px;
    margin-left: 35px;
    margin-top: 22px;
    padding: 0px;
}
.AboutTest{
    color: black;
    font-size: 14px;
    font-weight: 400;
}
.col3{
    width: 30%;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    padding-left: 0px;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 27px;
}
.green{
    border-left:5px solid #5FCD2C;
    font-weight: 100!important;
    font-size: 14px!important;
}
.blue{
    border-left:5px solid #0093A2;
    font-weight: 100!important;
    font-size: 14px!important;
}
.orange{
    border-left:5px solid #EDAA36;
    font-weight: 100!important;
    font-size: 14px!important;   
}
.pink{
    border-left:5px solid #F97070;
    font-weight: 100!important;
    font-size: 14px!important;
}
.colHt{
    height:260px;
}
.colHt1{
    height:127px;
    padding: 10px;
}
.imgIcon{
    height: 14px;
    float: right;
    margin: 20px;
}
.vertical{ 
    border-right: 1px solid #f2ededfc; 
    padding-left: 40px;   
}
.packageHead{
    margin: 15px;
    text-align: center;
    font-size: 16px;
    padding: 0px 35px;
    color: #808080e0;
    margin-bottom: 7px;
}
.packageNo{
    margin-left: 25px;
    font-size: 38px;
    font-family: oswald;
    font-weight: 600;
    color: #ffcc00;
    padding: 0px 60px;
    
}
.packageMainHeader{
    font-size: 20px;
    color: #000000bf;
    font-weight: 550;
    font-family: sans-serif;
}
.packagefooter{
    padding: 0px 52px;
    color: b2b2b2;
}
.packageTag{float: left;
}
.BorderLine{
    margin-top: 0px;
    margin-bottom: 0px;
}
.Upcoming{
    padding-left: 25px;
}
.small{
    font-size: 80%;
    color: #80808078;
}