.TMBody{
    background: white;
}
.headerLine{
    border: 0.8px solid #80808000;
    background: #8080805e;
}

.managementImg{
    display: flex;
    justify-content: center;
  
}

.TMTitle{
    top: -12px;
    text-align: center;
    font-size: 17px;
    color: black;
    margin-bottom:10px;
}
.TMTable{
    width: 100%;
    border: 0.5px solid #8080804f;
    border-radius: 8px;
    outline: none;
    height: auto;
    margin-bottom: 12px;
}
.TMSubmitBtn{
    flex: 1 1 auto;
    float: right;
    padding: 0px 13px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    background-image: linear-gradient(to top, #29348D 50%,#1D1E4E 50%);
    border: none;
    height: 35px;
    width: 98px;
}
.TMBtncoordinator{
    border-left: none;
    color: black;
    width: 49%;
}
.TMBtnCoordinator:active{
    background-image: linear-gradient(to top,#29348D 50%,#1D1E4E 50%);
    color: white;
    width: 50%;
}
.TMBtnTeacher{
    color: black;
    width: 50%;
    border: 1px solid #8080806b;
}


.TMSelect{
    width: 100%;
    border:none;
    padding-left: 15px;
}
.TMdropdownDiv{
    border:0.5px solid #8080805e;
    margin: 12px 0px;
    border-radius: 8px;
    margin-left: 15px;
}
.TMSelectorCol{
    margin-top: 20px;
    /* height: 33px; */
}
.TMtableHead{
    background:#141431; 
}
.TMButtons{
    color: black;
    border: solid 2px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to top,#1B1D77 50%,#1D1E4E 50%);
    box-shadow: 2px 1000px 1px #fff inset;
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 7px 5px;
    border-radius: 5px;
    padding: 7px 5px;
    background-color: transparent;
    height: 35px;
    margin-bottom: 15px;
    margin-left: 38px;   
    width: 80px; 
}
.TMButtons:hover{
    box-shadow: none;
    color: white;
    padding: 0px;
}

.TMAddSubBtn{
    margin-left: 0%;
}
.TMTeachersList{
    margin-left: -30px;
    list-style-type:none;
}
.ImageWidth{
    margin: 10px;
    width: 70px;
    height: 10%;
}
.formTitleContainer{
    position: relative;
}

h2.background {
    position: relative;
    z-index: 1;
    margin: 4px 0px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

h2.background:before {
    border-top: 1px solid #dfdfdf;
    content:"";
    margin: 0 auto; 
    position: absolute; 
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}

h2.background span { 
    background-color:  #fff;
    padding: 0 15px; 
}
.heightSelect{
    height: 200px!important;
}
.NextTM{
    display: flex;
    justify-content: center;
    float: right;
    margin-right: 35px;
}
.teamMargin{
    margin-left: 18px;
    height: 52px;
}
.panelMargin{
    margin: 15px;
}
.btnPadding{
    padding: 0px 6px;
    margin-left: 0px;
    padding-left: 11px;
}
.uiPadding{
    padding-top: 5px;
}
.TMPnlHeading{
    font-size: 13px;
    font-weight: 400!important;
}
.slctPadding{
    padding-right: 0px;
}
.TMLeft{
    padding-left: 0px!important;
}
.addBtnTop{
    margin-top: 75%;
}
.TMlabel{
   color: #808080b0;
}
.TMspan{
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.TMTeamMarg{
    margin-top: 30px;
}