.school-container{
	font-family: "lato",sans-serif;
	width: 100%;
	height: 800px;
    background: #ffffff;
    padding: 40px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    margin: 0px 18%;
}
.table-th{
	/*height: 50px;*/
    font-weight: 200;
    padding: 10px 10px;
    border-right: 1px solid #d9d9d9;
    background: #001CFF;
    color: #fff
}
table{
	border: 1px solid #bbb;
}
table td{
	border: 1px solid #bbb;
    padding: 10px 10px;
}
.sg-btn {
  flex: 1 1 auto;
  float: right;
  padding: 10px 23px;
  text-align: center;
  /*text-transform: uppercase;*/
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  background-image: linear-gradient(to right, #AC2642 0%, #0F4688 51%);
  border: none;
 }
.sg-btn:hover {
   color: white;
   text-decoration: none;
}
.create-school-text{
	position: absolute;
    left: 30%;
    top: 8%;
    background: white;
    padding: 8px;
    font-weight: bolder;
    color: #000;
    font-size: 1.2em;
 }
.newLabel2 {
  color:#777; 
  font-size:14px;
  font-weight:normal;
  position: relative;;
  pointer-events:none;
  left: 15px;
  top: -30px;

  transition:0.3s ease all;
  -moz-transition:0.3s ease all; 
  -webkit-transition:0.3s ease all;
 
}
 
/* active state */
input:focus ~ .newLabel2,input:valid ~ .newLabel2		{
  top:-49px;
  background: #fff;
  font-size: 12px;
  color:#001CFF;
}

.newLabel2 :focus{
  border-color:#B8B8B8;
}
/* active state */
select:focus ~ .newLabel2,select:valid ~ .newLabel2 		{
top:-49px;
background: #fff;
font-size: 12px;
color:#001CFF;
}
.team-img{
	width:10%;
	height: 50px;
	border:1px solid black;
}

